/* div, p, h1, hr, span, a, html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; 
	do: inherit;
	vertical-align: baseline;
} */

/* 카드 */
.card {
  height: 25rem;
  width: 21.875rem;
  border-radius: 0.938rem;
  display: inline-block;
  margin: 1.875rem 0 1.875rem 1.875rem;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
/*카드헤더*/
.card-header {
  -webkit-transition: 0.5s;
  -ms-transition:0.5s;
  transition: 0.5s;
  width:100%;
  height: 16.875rem;
  border-radius: 0.938rem 0.938rem 0 0;
}
/*카드 호버시 header 변화*/
.card:hover .card-header {
  opacity: 0.8;
  height:6.25rem;
}

/*오른쪽 상단 모집중*/
.card-header-is_closed {
  background-color: skyblue;
  color: #fff;
  text-align: center;
  float: right;
  border-radius: 50%;
  font-weight: bold;
  padding: 0.625rem 0.625rem;
  line-height: 1.25rem;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}
/*제목 */
.title {
  margin: 2rem 0 2.5rem 0;
}


/*카드 헤더 글씨*/
.card-body-header {
  line-height: 1.563rem;
  margin: 0.625rem 1.25rem 0 1.25rem;
}

/*설명부분*/
.card-body-description {
  color: black;
  -webkit-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  overflow: hidden;
  height: 11.25rem;
  margin: 0.313rem 1.25rem;
  opacity: 0;
}

/*호버시 텍스트 등장처리*/
.card:hover .card-body-description {
  opacity: 1;
  -webkit-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  overflow: hidden;
}

/*해쉬태그*/
.card-body-hashtag {
  background: transparent;
  border: 0.063rem solid rgba(0,0,0, 0.11);
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 0.875rem;;
}

/*해쉬태그 간격*/
.hashs {
  margin-left: 0.5rem;
}

/*footer*/
.card-body-footer {
  position: absolute;
  margin: 0.938rem 0 0.375rem 0;
  bottom: 0;
  width: 21.625rem;
  font-size: 0.875rem;
  color: #777777;
  padding: 0 0.938rem;
  display: flex;
  justify-content: space-between;
}

/*아이콘*/
.bi-eye {
  width: 1.563rem;
  height: 1.063rem;
  font-style: normal;
  font-size: 0.875rem;
}
/*아이콘*/
.bi-chat-dots {
  margin-left: 0.313rem;
  width: 1.563rem;
  height: 1.063rem;
  font-style: normal;
}

/*날짜*/
.reg_date {
  font-style: normal;
}

/*날짜 조회수 댓글 배치*/
.sub-info {
  display: flex;
  justify-content: space-between;
}
/*닉네임 */
.card-body-nickname {
  margin-top: 1rem;
}



.btn-6 {
  background: rgb(247,150,192);
background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  border-radius: 1.0rem;
  margin: 2rem 0 0 5.9rem;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100px;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover{
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
  left: 100px;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}
