{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'free/css/create.css' %}">
{% endblock css %}

{% block content %}
<div class="create-container">
  <p class="title">자유게시판</p>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">제출</button>

    <!--<div id="image_container"></div>-->

    <div class="buttons">
      <button type="submit" class="submit-button">작성</button>
      <a href="{% url 'free:index' %}" class="back-button">취소</a>
    </div>

  </form>
</div> <!-- create-container -->
{% endblock content %}

{% block js %}
<script src="{% static 'free/js/create.js' %}"></script>
{% endblock js %}