{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'free/css/create.css' %}">
{% endblock css %}

{% block content %}
<div class="create-container">
  <p class="title">FREE FORUM</p>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

    <div class="buttons">
      <button type="submit" class="submit-button">작성</button>
      <a href="{% url 'free:index' %}" class="back-button">취소</a>
    </div>
  </form>
</div> <!-- create-container -->
{% endblock content %}

{% block js %}
{% endblock js %}