{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'free/css/create.css' %}">
{% endblock css %}

{% block content %}
<div class="create-container">
  <p class="title">
    <a href="{% url 'free:index' %}">COMMUNITY BOARD</a><br><span class="state-change">CREATE</span>
  </p>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <div class="container text-center">
      <div class="row">
    <div class="buttons">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <button type="submit" class="btn submit-button" id="submit_btn">작성</button>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <button id="cancel_btn"><a href="{% url 'free:index' %}" class="btn cancel_btn" >취소</a></button>
        </div>
      </div>  
      </div>
    </div>
  </form>
</div> <!-- create-container -->
{% endblock content %}

{% block js %}
{% endblock js %}