{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block content %}


  익명{{free.user.pk}}</a>
  {{free.title}}
  {{free.updated_at}}
  {{free.content}}
  
  {% if photos %}
    {% for photo in photos %}
      <img src="{{ photo.image.url }}">
    {% endfor %}
  {% endif %}

  <!-- 수정 / 삭제 -->
  {% if request.user == free.user %}
    <div class="d-flex justify-content-end">
      <a href="{% url 'free:update' free.pk %}" class="btn btn-primary">수정</a>
      <form class="m-0" action="{% url 'free:delete' free.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
    </div>
    <!-- 좋아요 -->
  {% else %}
    <div class="d-flex justify-content-end">
      <form class='like-form m-0 d-flex align-items-center' data-free-pk='{{ free.pk }}'>
        {% csrf_token %}
        {% if request.user in free.like_free.all %}
          <button class="btn btn-link text-danger">
            <i class="bi bi-heart-fill heart-icon"></i>
          </button>
        {% else %}
          <button class="btn btn-link text-danger">
            <i class="bi bi-heart heart-icon"></i>
          </button>
        {% endif %}
        <span class='like-cnt'>{{free.like_free.count}}</span>
      </form>
    </div>
  {% endif %}

  <hr>
 <!-- 댓글 -->
 <section class="comment-box">
  {% if request.user.is_authenticated %}
    <form id="comment-form" data-free-id="{{ free.pk }}" action="{% url 'free:comment_create' free.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input class="btn btn-success" type="submit" value="제출">
    </form>
  {% endif %}
  <div id="comments" class="comments">
    {% for comment in comments %}
      <div class="comment">
        <h4>익명{{comment.user.pk}} - {{ comment.content }}</h4>
        <div class="comment-user-info justify-content-between">
          {% if request.user.pk == comment.user.pk %}
            <div>
              <div id="form-comment-update-{{ comment.pk }}" style="display:none;">
                <input id="input-{{ comment.pk }}" type="text" value="{{ comment.content }}">
                <button onclick="ok_function(this)" id="okBtn-{{ comment.pk }}" data-freeup-id="{{ free.pk }}" data-commentup-id="{{ comment.pk }}">확인</button>
              </div>
              <button  onclick="update_comment(this)" id="comment-update-{{ comment.pk }}" data-freeup-id="{{ free.pk }}" data-commentup-id="{{ comment.pk }}">수정</button>
              <button  onclick="delete_comment(this)" id="comment-delete-{{ comment.pk }}" data-freedel-id="{{ free.pk }}" data-commentdel-id="{{ comment.pk }}">삭제</button>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'free/js/detail.js' %}"></script>
{% endblock js %}