{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'free/css/index.css' %}">
{% endblock css %}

{% block content %}
<div class="index-container">
  <p class="title">자유게시판페이지</p>

  <div>
    <a href="{% url 'free:create' %}">
      <h4>CREATE</h4>
    </a>
  </div>

  {% for free in frees %}
  익명{{free.user.pk}}
  <a href="{% url 'free:detail' free.pk%}" class="text-black fw-bold text-decoration-none">
    {{free.title}}</a>

  {% endfor %}
</div>
{% endblock content %}