{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'free/css/search.css' %}">
{% endblock css %}

{% block content %}
<div class="search-container">
  <!-- 자유게시판 -->
  <p class="title">
    <a href="{% url 'free:index' %}">COMMUNITY BOARD</a>
  </p>

  {% if question_list %}
  <!-- 검색 결과 안내 -->
  <p class="search-result">'<span class="search-for">{{ search }}</span>' 에 대한 검색결과 입니다.</p>

  <!-- 검색 결과 목록 -->
  <table class="search-table">
    <thead class="thead-text">
      <tr class="thead-tr">
        <th scope="col">NO.</th>
        <th scope="col">TITLE</th>
        <th scope="col">DATE</th>
        <th scope="col">VIEWS</th>
        <th scope="col">LIKE</th>
      </tr>
    </thead>

    <tbody>
      {% for free in question_list %}
      <tr class="tbody-tr">
        <td>{{free.pk}}</td>
        <td>
          <a href="{% url 'free:detail' free.pk %}" class="search-title">{{free.title}}</a>
          <span class="comments">[{{ free.free_user.count }}]</span>
        </td>
        <td>{{free.create_at}}</td>
        <td>{{ free.hits }}</td>
        <td>{{ free.like_free.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if question_list.has_previous %}
    <li class="page-item">
      <a class="page-link " href="?page={{ question_list.previous_page_number }}">〈</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">〈</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in question_list.paginator.page_range %}
    <!--% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5  %}-->
    {% if page_number == question_list.number %}
    <li class="page-item active" aria-current="page">
      <a class="page-link " href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link " href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    <!--{% endif %-->
    {% endfor %}
    <!-- 다음페이지 -->
    {% if question_list.has_next %}
    <li class="page-item">
      <a class="page-link " href="?page={{ question_list.next_page_number }}">〉</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">〉</a>
    </li>
    {% endif %}
  </ul> <!-- pagination -->
  {% else %}
  <h3 class="m-0">"{{ search }}" 검색결과가 없어요</h3>
</div>
{% endif %}
</div>

{% endblock%}