{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'free/css/update.css' %}">
{% endblock css %}

{% block content %}
<div class="update-container">
  <p class="title">자유게시판 수정</p>
  <form action='' method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <div class="buttons">
      <input type="submit" value="수정" class="edit-button">
      <a href="{% url 'free:index' %}" class="back-button">취소</a>
    </div>
  </form>
</div> <!-- update-container -->
{% endblock %}
