.container {
  max-width: 59.375rem;
}

.total {
  padding: 4.5rem 4rem;
}

.voting_result {
  border: 0.05rem solid black;
  border-radius: 0.8rem;
  background: white;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  margin: 1rem 0 1rem 0;
  font-weight: bold;

}

.question {
  width: 28.3rem;

}

.question_ {
  margin: 1rem 0 1rem 8.5rem;
  font-size: 1.1rem;
}

.vote_title_ {
  display: flex;
  align-items: center;
  margin-left: 7rem;
  max-width: 100%;
  
}

.vote_title {
  display: flex;
  align-items: center;
  width: 70.125rem;
  font-size: 1.6rem;
}

.profile_created_at {
  display: flex;
}


.selected {
  color: #0b2f7d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.988rem;
  font-weight: 500;
  width:51.3rem;
}


.total_count {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}


.progress {
  width:200px;
  height: 28px;
}

.list-group {
  width: 37.5rem;
}

.voting-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #0b2f7d;
  width: 5.625rem;
  height: 2.275rem;
  margin:auto;
  background-color: #0b2f7d;
  color: white;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

#btns-back {
  background-color:gray;
  color:white;
  margin: 1rem 0 1rem 0;
  /* width: 5.625rem;
  height: 2.275rem; */
  border-radius: 1.5rem;
  padding: 0.7rem 2.4rem;
}

#btns-back:hover {
  background-color:white;
  color:black;
}

.backs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns-back:hover{
  background-color: black;
  color: white;
}

.back_button {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
}

input[type=submit] {
  background-color: white;
  border: 0.01rem solid black;
  border-radius: 0.4rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-top: 0.4rem;
}

.comment_number {
  margin-top: 1rem;
}


.id_ {
  text-decoration: none !important;
  color: black !important;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 0.8rem;
}

.ids_{
  text-decoration: none !important;
  color: black !important;
}

.profile_ids {
  display: flex;
  justify-content: space-between;
  margin-left: 8.3rem;
}

.profile_id {
  display: flex;
  margin: 1rem 0 1rem 7rem;
}


.profile-img img {
  border-radius: 10rem;
  margin-top: 0.8rem;
  height: 2.7rem;
  width: 2.7rem;
}

.username {
  margin: 0.8rem 0 0 0;
}


#time {
  margin: 0.1rem 0 0 1rem;
}

.user_content_update {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}


.modify_delete_button {
  margin: 0 0 2rem 6.5rem;
  display: flex;
}

#modify {
  margin-right: 0.3rem;
  background-color: gray;
  color: white;
  padding:0.5rem 0.8rem;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}

#modify:hover {
  background-color: white;
  color: black;

}

#delete{
  background-color:black;
  color: white;
  padding:0.5rem 0.8rem;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}

#delete:hover {
  background-color: white;
  color: black;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.2rem;
}

.contents {
  margin-left: 5.35rem;
}


.comment-update-btn {
  margin-right: 0.7rem;
  background-color: skyblue;
  color: white;
}

.delete_btn {
  background-color:rgb(205, 92, 92);
  color: white;
}

.buttons {
  display: flex;
  margin-left: 5.35rem;
}

.choices_ {
  display: flex;
  margin-bottom: 0.5rem;
}


.outside-choice {
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0 0 0;
  position: relative;
  left: 6.3%;
  width:3.125rem;
}

.inside-choice {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  width:35.625rem;
  display: flex;
}

#progress {
  width:35.3rem;
  height: 2.993rem;
  vertical-align:middle;
  padding: 0.3rem;
}

progress{
  accent-color: auto;
  opacity: 0.2;
}

.outside-progress {
  display: flex;
  flex-direction: column;
}


.btn {
  --bs-btn-padding-x: 0.1rem;
}

.heart-control {
  display: flex;
  margin:1.7rem 5.4rem 1rem 1rem;
  font-size: 1.2rem;
}





.content_modify {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 0 1rem 8.4rem;
}

#likes {
  margin: 0 0 0.5rem 0.3rem;
  }



.form_ {
  margin-left: 7rem;
}

.form-control {
  border-radius: 0.1rem;
}

.comment_content {
  display: flex;
  justify-content: center;
}

#id_content {
  width: 77.2%;
  height: 5.625rem;
  display: flex;
  justify-content: center;
  border-radius: 0.2rem;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.vote_count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
}

.list-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: none;
  height: 0.063rem;
  color: #333;
  background-color: #333;
}


.comment_number {
  margin: 1rem 0 0 7rem;
}

#ok_button {
  width:13.2%;
  background-color: #d3d3d3;
  color:black;
  border: 0.01rem solid #d3d3d3;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
} 

#ok_button:hover {
  color: black;
  background-color:#d3d3d3;
}

.first_comment {
  margin-left: 7rem;
}

.content_ok {
  display: flex;
}

.first_comment {
    margin: 1rem 0 2rem 7rem;
}

#result {
  margin: 1rem 1rem 1rem 0;
  border: 0.1rem solid black;
  border-radius: 1.5rem;
  background-color: black;
  color:white;
  padding: 0.7rem 1.3rem;
}

#result:hover {
  color:black;
  background-color: white;
}

#close {
  padding: 0.5rem 1.1rem;
  border: 0.1rem solid black;
  border-radius: 1.3rem;
  background-color: #0b2f7d;
  color: white;
}

#close:hover {
  color:#0b2f7d;
  background-color: white;
  border: 0.1rem solid transparent;
}