.max_container {
  background-color: #ffffff;
  border: 0.1rem solid #0b2f7d;
  border-radius: 2.5rem;
  margin: auto;
  margin-bottom: 8rem;
  padding: 4.5rem 4rem;
  width: 65%;
}


/* .voting_result {
  border: 0.05rem solid black;
  border-radius: 0.8rem;
  background: white;
} */

.title {
  color: #0b2f7d;
  font-family: 'Calistoga', 'NEXON Lv2 Gothic';
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.question {
  width: 100%;
  align-items: center;
  text-align: center;
}

.question_ {
  margin: 1rem 0 1rem 8.5rem;
  font-size: 1.1rem;
}

.vote_title_ {
  display: flex;
  align-items: center;
  margin-left: 7rem;
  max-width: 100%;
  
}

.vote_title {
  display: flex;
  align-items: center;
  width: 70.125rem;
  font-size: 1.6rem;
  text-align: center;
}

.profile_created_at {
  display: flex;
}


.selected {
  color: #0b2f7d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}


.total_count {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}


.progress {
  width:200px;
  height: 28px;
}

.list-group {
  width: 37.5rem;
}

.voting-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #0b2f7d;
  width: 5.625rem;
  height: 2.275rem;
  margin:auto;
  background-color: #0b2f7d;
  color: white;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#btns-back {
  background-color:gray;
  color:white;
  margin: 1rem 0 1rem 0;
  /* width: 5.625rem;
  height: 2.275rem; */
  border-radius: 1.5rem;
  padding: 0.7rem 2.4rem;
}

#btns-back:hover {
  background-color:white;
  color:black;
}

.backs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns-back:hover{
  background-color: black;
  color: white;
}

.back_button {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
}

input[type=submit] {
  background-color: white;
  border: 0.01rem solid black;
  border-radius: 0.4rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-top: 0.4rem;
}

.comment_number {
  margin-top: 1rem;
}


.id_ {
  text-decoration: none !important;
  color: black !important;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 0.8rem;
}

.ids_{
  text-decoration: none !important;
  color: black !important;
}

.profile_ids {
  display: flex;
  justify-content: space-between;
  margin-left: 8.3rem;
}

.profile_id {
  display: flex;
  margin: 1rem 0 1rem 7rem;
}


.profile-img img {
  border-radius: 10rem;
  margin-top: 0.8rem;
  height: 2.7rem;
  width: 2.7rem;
}

.username {
  margin: 0.8rem 0 0 0;
}


#time {
  margin: 0.1rem 0 0 1rem;
}

.user_content_update {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
#id_created_at {
  display: flex;
  margin-right: 15rem;
  align-items: center;
  }

.modify_delete_button {
  margin: 0 0 2rem 6.5rem;
  display: flex;
}

#modify {
  margin-right: 0.3rem;
  background-color: gray;
  color: white;
  padding:0.5rem 0.8rem;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}

#modify:hover {
  background-color: white;
  color: black;

}

#delete{
  background-color:black;
  color: white;
  padding:0.5rem 0.8rem;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}

#delete:hover {
  background-color: white;
  color: black;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.2rem;
}

.contents {
  margin-left: 5.35rem;
}


.comment-update-btn {
  margin-right: 0.7rem;
  background-color: skyblue;
  color: white;
}

.delete_btn {
  background-color:rgb(205, 92, 92);
  color: white;
}

.buttons {
  display: flex;
  margin-left: 5.35rem;
}

.choices_ {
  display: flex;
  margin-bottom: 0.5rem;
}


.outside-choice {
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0 0 0;
  position: relative;
  left: 6.3%;
  width:3.125rem;
}

.inside-choice {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  width:35.625rem;
  display: flex;
}

#progress {
  width:35.3rem;
  height: 2.993rem;
  vertical-align:middle;
  padding: 0.3rem;
}

progress{
  accent-color: auto;
  opacity: 0.2;
}

.outside-progress {
  display: flex;
  flex-direction: column;
}


.btn {
  --bs-btn-padding-x: 0.1rem;
}

.heart-control {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  margin-left: 1rem;
  margin-top: 2.5rem;
  }
  .views {
    margin-top: 2.2rem;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    margin-left: 1rem;
  }
  
  .views img {
    height: 1.35rem;
  }
  .views p {
    margin-top: 1.2rem;
    margin-left: 0.1rem;
  }





.content_modify {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 0 1rem 8.4rem;
}

#likes {
  margin: 0 0 0.5rem 0.3rem;
  }



.form_ {
  margin-left: 7rem;
}

.form-control {
  border-radius: 0.1rem;
}

.comment_content {
  display: flex;
  justify-content: center;
}

#id_content {
  width: 100%;
 height: 5.625rem;
 border-radius: 0.2rem;
 height: 7rem;
 /* margin-left: 2.2rem; */
 }

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.vote_count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4rem;
}

.list-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: none;
  height: 0.063rem;
  color: #333;
  background-color: #333;
}


.comment_number {
  margin: 1rem 0 0 7rem;
}

#ok_button {
  width:13.2%;
  background-color: #d3d3d3;
  color:black;
  border: 0.01rem solid #d3d3d3;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
} 

#ok_button:hover {
  color: black;
  background-color:#d3d3d3;
}

.first_comment {
  margin-left: 7rem;
}

.content_ok {
  display: flex;
}

.first_comment {
    margin: 1rem 0 2rem 7rem;
}

#result {
  margin: 1rem 1rem 1rem 0;
  border: 0.1rem solid black;
  border-radius: 1.5rem;
  background-color: black;
  color:white;
  padding: 0.7rem 1.3rem;
}

#result:hover {
  color:black;
  background-color: white;
}

#close {
  padding: 0.5rem 1.1rem;
  border: 0.1rem solid black;
  border-radius: 1.3rem;
  background-color: #0b2f7d;
  color: white;
}

#close:hover {
  color:#0b2f7d;
  background-color: white;
  border: 0.1rem solid transparent;
}


/* 여기부터 복사해온거*/

/* 너비 설정 */
.detail-container {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 4.5rem 4rem;
    width: 65%;
}


/*카테고리 제목 */
.title {
    color: #0b2f7d;
    font-family: 'Calistoga', 'NEXON Lv2 Gothic';
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 4rem;
    text-align: center;
}

.title a {
    color: #0b2f7d;
    text-decoration: none;
}

.title a:hover {
    text-decoration: none;
}


/* 제목 */
.article-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}


/* 제목 아래 글자 위치 조절 */
.sub-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}


/* 유저(익명), 날짜 위치 조절 */
.user-date {
    align-items: flex-end;
    display: flex;
    font-size: 0.9rem;
}


/* 유저(익명) */
.user {
    color: #0b2f7d;
    font-weight: bold;
    margin-bottom: 0;
}


/* 날짜 */
.date {
    color: #b8b8b8;
    margin: 0 0.5rem;
}


/* (수정됨) */
.edited {
    color: #b8b8b8;
    margin: 0 0.5rem;
}

/* 조회수 */
.views {
    color: #b8b8b8;
    font-size: 0.9rem;
    margin: 0;
}

.views-icon {
    height: 0.9rem;
    opacity: 0.3;
    width: 0.8rem;
}


/* 수정/삭제 버튼 위치 조절 */
.buttons {
    display: flex;
}


/* 수정 버튼 */
.edit-button {
    background-color: transparent;
    border: 0;
    color: #888888;
    font-size: 0.9rem;
    margin: 0 0.8rem;
    padding: 0;
    text-decoration: none;
}

.edit-button:hover {
    background-color: transparent;
    border: 0;
    color: #888888;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 0.8rem;
    padding: 0;
    text-decoration: none;
}


/* 삭제 버튼 */
.delete-button {
    background-color: transparent;
    border: 0;
    color: #ee744d;
    font-size: 0.9rem;
    padding: 0;
}

.delete-button:hover {
    background-color: transparent;
    border: 0;
    color: #ee744d;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0;
}


/* 본문 아래 여백 */
.article-contents {
    margin: 2.5rem 0 4rem;
}


/* 본문에 삽입되는 사진 크기 */
.article-contents img {
    margin-bottom: 0.5rem;
    width: 100%;
}


/* 나중에 태그 정리해야 됨 */
/* 좋아요 숫자 */
.heart {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}


/* 좋아요 색 */
.article-heart,
.article-heart-fill {
    filter: invert(52%) sepia(92%) saturate(834%) hue-rotate(329deg) brightness(98%) contrast(91%);
    margin-right: 0.5rem;
}

.heart p {
    margin: 0;
}


/* 댓글 작성 폼 */
.mb-3 {
    margin-bottom: 0.5rem !important;
}

.form-control {
    height: 7rem;
}

.form-control:focus {
    border-color: #0b2f7d;
    box-shadow: 0 0 0 0;
    color: #434343;
    outline: 0;
}

.form-control::placeholder {
    color: #888888;
    font-size: 0.85rem;
    padding-top: 1.8rem;
}

.form-control::-webkit-scrollbar {
    background-color: #0b2f7d33;
}

.form-control::-webkit-scrollbar-thumb {
    background-color: #0b2f7d;
}

.form-control::-webkit-scrollbar-track {
    background-color: #0b2f7d33;
}

.form-control::-webkit-scrollbar-corner {
    background-color: #0b2f7d33;
}

.form-label{
  display: none;
}
/*댓글 작성 버튼 */
.sb-div {
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    background-color: #0b2f7d !important;
    border: 0 !important;
    border-radius: 20rem !important;
    height: 2.4rem;
    margin-bottom: 2rem;
    padding: 0;
    width: 5rem;
    color:white;
}


/* 댓글 수와 댓글 가름 */
.comment-start {
    margin: -0.3rem 0 2rem;
}


/* 댓글 사이 가름 */
.comment-divider {
    margin: 2rem 0;
}


/* 등록된 댓글이 없을 경우 출력되는 문자 */
.no-comment {
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-top: 3rem;
    text-align: center;
}


/* 댓글 상단 부분 */
.comment-title {
    display: flex;
    justify-content: space-between;
}


/* 유저(익명) */
.comment-user {
    margin-right: 1rem;
    margin-bottom: 0;
}


/* 수정/삭제 버튼 위치 조절 */
.comment-buttons {
    display: flex;
    font-size: 0.9rem;
    height: 1rem;
}


/* 댓글 유저(익명) 아래 글자 위치 조절 */
.comment-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


/* 수정창 */
.comment-update {
    border: 0.1rem solid #ced4da;
    border-radius: 0.3rem;
    width: 100%;
}

.comment-update:focus {
    border-color: #0b2f7d;
    box-shadow: 0 0 0 0;
    color: #434343;
    outline: 0;
}


/* 수정 후 확인 버튼 */
.update-button {
    background-color: transparent;
    border: 0;
    color: #998b7a;
    font-size: 0.9rem;
    float: right;
    margin-right: 1.5rem;
    padding: 0;
    position: relative;
    right: 1.6rem;
    text-decoration: none;
    top: -4.25rem;
}

.update-button:hover {
    font-weight: bold;
}


/* 답글 */
.recomment-button {
    background-color: transparent;
    border: 0;
    color: #0b2f7d;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding: 0;
}

.recomment-button:hover {
    font-weight: bold;
}


/* 답글, 답글수 정렬 */
.button-count {
    display: flex;
    font-size: 0.9rem;
}

.button-count p {
    margin: 0 0.5rem 1rem;
}


/* 답글 등록 버튼 */
.recomment-submit-button {
    background-color: #0b2f7d;
    border: 0;
    border-radius: 20rem;
    color: #ffffff;
    font-size: 0.9rem;
    height: 2.3rem;
    margin-bottom: 2rem;
    padding: 0;
    width: 5rem;
}


/* 답글 전체 여백 */
.recomments {
    margin: 1rem 0 0 1rem;
}


/* 닉네임 삭제 버튼 정렬 */
.user-delete {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.user-delete p {
    color: #666666;
    font-weight: bold;
    margin-bottom: 0;
}
.option-active {
  display: block;
}

.option-inactive {
  display: none;
}

.transition{
  transform:3s ease-out;
}

.modal-bodys{
  background-color:#ad7e43;
  opacity: 0.8;
}

.modal-dialog{
  margin: 15rem auto;
}