.max_container {
  background-color: #ffffff;
  border: 0.1rem solid #0b2f7d;
  border-radius: 2.5rem;
  margin: auto;
  margin-bottom: 8rem;
  padding: 4.5rem 4rem;
  width: 65%;
}

.total {
  padding: 4.5rem 4rem;
}



@keyframes fadeout {
from {
  opacity: 1;
}
to {
  opacity: 0;
}
}

@media (min-width: 576px) {
  .max_container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .max_container {
    max-width: 720px ;
  }
}

@media (min-width: 992px) {
  .max_container {
    max-width: 840px;
  }
}

@media (min-width: 1200px) {
  .max_container {
    max-width: 910px;
  }
}

.vote_title {
font-size: 2rem;
margin-bottom: 2rem;
text-align: center;
}

.voting-line {
border: 0.01rem solid lightgray;
}


.vote_content_ {
overflow: auto;
text-align: center;
}


.vote_content {
font-size: 1.5rem;
}

.container {
max-width: 59.375rem;
}

.total {
  border: 0.05rem solid #333;
  border-radius: 0.8rem;
  background: white;
}

#id_created_at {
display: flex;
margin-right: 15rem;
align-items: center;
}

#id_content {
 width: 100%;
height: 7rem; 
border-radius: 0.2rem;
/* margin-left: 2.2rem; */
}

.vote_count {
display: flex;
justify-content: center;
align-items: center;
margin-left: 1rem;
}

.comment_title {
margin: 1rem 0 1rem 7.4rem;
}

.choices {
display: flex;
align-items: center;
justify-content: center;
}


.profile {
margin: 1rem 0 0;
}

.profile_id {
display: flex;
margin: 0.2rem 1rem 0.2rem 1rem; 
}

.profile-img img {
border-radius: 10rem;
margin-top: 0.8rem;
height: 2.7rem;
width: 2.7rem;
}

#likes {
margin-bottom: 0.2rem;
margin-left: 0.3rem;

}

.username {
margin: 0.8rem 0 0 0;
}

.id_ {
text-decoration: none !important;
color: black !important;
margin-left: 1rem;
margin-bottom: 0;
margin-top: 0.8rem;
}

.ids_{
text-decoration: none !important;
color: black !important;
}

.user_content_update {
display: flex;
flex-direction: column;
margin-left: 0.5rem; 
}

#time {
margin: 0.1rem 0 0 1rem;
}

.button_control {
display: flex;
justify-content: center;
}


#submit {
background-color: #0b2f7d;
color:white;
border: 0.01rem solid black;
padding: 0.44rem 0.9rem;
margin: 1rem 0;
border-radius: 1.3rem;
}

#submit:hover {
background-color: white;
color:#0b2f7d;
}

#cancel {
background-color: gray;
margin: 1rem 0 1rem 0;
color: white;
border: 0 solid transparent;
padding: 0.4rem 1.5rem;
border-radius: 2rem;
}

#cancel:hover {
background-color: black;
color:white;
}

#cancel_button {
border: 0;
background-color: transparent;
}



.modify_delete_button {
margin: 1rem 0 2rem 1.8rem;
display: flex;
}

#modify {
margin-right: 0.3rem;
background-color: gray;
color: white;
padding:0.5rem 0.8rem;
width: 5.5rem;
height: 2.5rem;
border-radius: 2rem;
}

#modify:hover {
margin-right: 0.3rem;
background-color: white;
color: black;

}

.btn_delete{
color: #a60b0b;
padding:0.5rem 0.8rem;
height: 2.5rem;
border-radius: 2rem;
text-decoration: none;
font-weight: 300;
text-decoration: none !important;
}

.btn_delete:hover {
background-color: white;
text-decoration: none;
}

.content_modify {

align-items: center;
max-width: 100%;

}

.vote_modify {
display: flex;
justify-content: center;
align-items: center;
/* margin-left: 3.7rem; */
}


.btn_modify {
padding: 0.5rem 0.8rem;
border-radius: 1.3rem;
height: 2.5rem;
text-align: center;
color: #0b2f7d;
margin-right: 0.5rem;
text-decoration: none !important;
}

.vote_modifies {
text-decoration: none;
color: black;
}

.vote_modifies:hover {
color:#0b2f7d;
height: 2.5rem;
}  

.btn_modify:hover {
color: #0b2f7d;
background-color: white;
}  



.comment_number {
margin: 1rem 0 0 2rem;
}

.comments {
display: flex;
margin: 1rem 0 0 2rem;
}

input[name="choice"] {
margin: 0.3rem 0.5rem 0 0;
}

.outside-radio {
display: flex;
flex-direction: column;
margin: 1rem 0 0 0;
position: relative;
left: 4%;
margin-bottom: 0.25rem;
width:3.125rem;
}

.inside-radio {
margin-right: 1rem;
margin-bottom: 0.59rem;
width:35.625rem;
}
.inside-progress{
height: 2rem;
margin-bottom: 0.5rem;
}

.outside-progress {
display: flex;
flex-direction: column;
}

label {
margin-bottom: 0 !important;
margin-left: 0.1rem;
}




#progress {
width:41rem;
height: 2.993rem;
vertical-align:middle;
padding: 0.3rem;
}

progress{
accent-color: auto;
opacity: 0.2;
}


.choices_ {
display: flex;
align-items: center;
justify-content: center;
}

.percentage {
margin-top: 2rem;
margin-left: 0.2rem;
}

#choices {
margin: 0 0 0.15rem 2rem;
}


hr {
border: none;
height: 0.063rem;
color: #333;
background-color: #333;
}

.content_ok {
display: flex;
}


#ok_button {
width:12.3%;
background-color: #d3d3d3;
color:black;
border: 0.01rem solid #d3d3d3;
margin:0;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0;
} 

#ok_button:hover {
color: black;
background-color:#d3d3d3;
}

.heart-control {
display: flex;
font-size: 1.2rem;
align-items: center;
margin-left: 1rem;
margin-top: 2.5rem;
}
.views {
  margin-top: 2.2rem;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  margin-left: 1rem;
}

.views img {
  height: 1.35rem;
}
.views p {
  margin-top: 1.2rem;
  margin-left: 0.1rem;
}

.first_comment {
margin: 1rem 0 2rem 7.2rem;
}

.btn {
--bs-btn-padding-x: 0.1rem;
}

#heart {
padding: 0;
}


#btn_delete {
background-color: black;
border: 0rem solid transparent;
color:white;
border-radius: 2rem;
text-align: center;
}


#btn_delete:hover {
background-color: black; 
color:white;
}

#choice {
margin-top: 0.4rem;
}

/* 여기부터 복사해온거*/


/* 너비 설정 */
.detail-container {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 4.5rem 4rem;
    width: 65%;
}


/*카테고리 제목 */
.title {
    color: #0b2f7d;
    font-family: 'Calistoga', 'NEXON Lv2 Gothic';
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 4rem;
    text-align: center;
}

.title a {
    color: #0b2f7d;
    text-decoration: none;
}

.title a:hover {
    text-decoration: none;
}


/* 제목 */
.article-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}


/* 제목 아래 글자 위치 조절 */
.sub-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}


/* 유저(익명), 날짜 위치 조절 */
.user-date {
    align-items: flex-end;
    display: flex;
    font-size: 0.9rem;
}


/* 유저(익명) */
.user {
    color: #0b2f7d;
    font-weight: bold;
    margin-bottom: 0;
}


/* 날짜 */
.date {
    color: #b8b8b8;
    margin: 0 0.5rem;
}


/* (수정됨) */
.edited {
    color: #b8b8b8;
    margin: 0 0.5rem;
}

/* 조회수 */
.views {
    color: #b8b8b8;
    font-size: 0.9rem;
    margin: 0;
}

.views-icon {
    height: 0.9rem;
    opacity: 0.3;
    width: 0.8rem;
}


/* 수정/삭제 버튼 위치 조절 */
.buttons {
    display: flex;
}


/* 수정 버튼 */
.edit-button {
    background-color: transparent;
    border: 0;
    color: #888888;
    font-size: 0.9rem;
    margin: 0 0.8rem;
    padding: 0;
    text-decoration: none;
}

.edit-button:hover {
    background-color: transparent;
    border: 0;
    color: #888888;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 0.8rem;
    padding: 0;
    text-decoration: none;
}


/* 삭제 버튼 */
.delete-button {
    background-color: transparent;
    border: 0;
    color: #ee744d;
    font-size: 0.9rem;
    padding: 0;
}

.delete-button:hover {
    background-color: transparent;
    border: 0;
    color: #ee744d;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0;
}


/* 본문 아래 여백 */
.article-contents {
    margin: 2.5rem 0 4rem;
}


/* 본문에 삽입되는 사진 크기 */
.article-contents img {
    margin-bottom: 0.5rem;
    width: 100%;
}


/* 나중에 태그 정리해야 됨 */
/* 좋아요 숫자 */
 .heart {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}


/* 좋아요 색 */
.article-heart,
.article-heart-fill {
    filter: invert(52%) sepia(92%) saturate(834%) hue-rotate(329deg) brightness(98%) contrast(91%);
    margin-right: 0.5rem;
}

.heart p {
    margin: 0;
}  
.heart-control {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  margin-left: 1rem;
  margin-top: 2.5rem;
}
.views {
  margin-top: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  margin-left: 1rem;
}

.views img {
  height: 1.5rem;
  margin-top: 2.2rem;
  margin-left: 1rem;
}
.views p {
  margin-top: 3.3rem;
  margin-left: 0.1rem;
  font-size: 1.2rem;
}

/* 댓글 작성 폼 */
.mb-3 {
    margin-bottom: 0.5rem !important;
}

.form-control {
    height: 7rem;
}

.form-control:focus {
    border-color: #0b2f7d;
    box-shadow: 0 0 0 0;
    color: #434343;
    outline: 0;
}

.form-control::placeholder {
    color: #888888;
    font-size: 0.85rem;
    padding-top: 1.8rem;
}

.form-control::-webkit-scrollbar {
    background-color: #0b2f7d33;
}

.form-control::-webkit-scrollbar-thumb {
    background-color: #0b2f7d;
}

.form-control::-webkit-scrollbar-track {
    background-color: #0b2f7d33;
}

.form-control::-webkit-scrollbar-corner {
    background-color: #0b2f7d33;
}
.form-label{
    display: none;
}

/*댓글 작성 버튼 */
.sb-div {
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    background-color: #0b2f7d;
    color: #ffffff;
    border: 0;
    border-radius: 20rem;
    height: 2.4rem;
    margin-bottom: 2rem;
    padding: 0;
    width: 5rem;
}


/* 댓글 수와 댓글 가름 */
.comment-start {
    margin: -0.3rem 0 2rem;
}


/* 댓글 사이 가름 */
.comment-divider {
    margin: 2rem 0;
}


/* 등록된 댓글이 없을 경우 출력되는 문자 */
.no-comment {
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-top: 3rem;
    text-align: center;
}


/* 댓글 상단 부분 */
.comment-title {
    display: flex;
    justify-content: space-between;
}


/* 유저(익명) */
.comment-user {
    margin-right: 1rem;
    margin-bottom: 0;
}


/* 수정/삭제 버튼 위치 조절 */
.comment-buttons {
    display: flex;
    font-size: 0.9rem;
    height: 1rem;
}


/* 댓글 유저(익명) 아래 글자 위치 조절 */
.comment-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


/* 수정창 */
.comment-update {
    border: 0.1rem solid #ced4da;
    border-radius: 0.3rem;
    width: 100%;
}

.comment-update:focus {
    border-color: #0b2f7d;
    box-shadow: 0 0 0 0;
    color: #434343;
    outline: 0;
}


/* 수정 후 확인 버튼 */
.update-button {
    background-color: transparent;
    border: 0;
    color: #998b7a;
    font-size: 0.9rem;
    float: right;
    margin-right: 1.5rem;
    padding: 0;
    position: relative;
    right: 1.6rem;
    text-decoration: none;
    top: -4.25rem;
}

.update-button:hover {
    font-weight: bold;
}


/* 답글 */
.recomment-button {
    background-color: transparent;
    border: 0;
    color: #0b2f7d;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding: 0;
}

.recomment-button:hover {
    font-weight: bold;
}


/* 답글, 답글수 정렬 */
.button-count {
    display: flex;
    font-size: 0.9rem;
}

.button-count p {
    margin: 0 0.5rem 1rem;
}


/* 답글 등록 버튼 */
.recomment-submit-button {
    background-color: #0b2f7d;
    border: 0;
    border-radius: 20rem;
    color: #ffffff;
    font-size: 0.9rem;
    height: 2.3rem;
    margin-bottom: 2rem;
    padding: 0;
    width: 5rem;
}


/* 답글 전체 여백 */
.recomments {
    margin: 1rem 0 0 1rem;
}


/* 닉네임 삭제 버튼 정렬 */
.user-delete {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.user-delete p {
    color: #666666;
    font-weight: bold;
    margin-bottom: 0;
}