.update-container {
  background-color: #ffffff;
  border: 0.1rem solid #0b2f7d;
  border-radius: 2.5rem;
  margin: auto;
  margin-bottom: 10rem;
  padding: 4.5rem 4rem;
  width: 60%;
}

/* 제목 */
.title {
  color: #0b2f7d;
  font-family: 'Calistoga', 'NEXON Lv2 Gothic';
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 5rem;
  text-align: center;
}

.title a {
  color: #0b2f7d;
  text-decoration: none;
}

.title a:hover {
  text-decoration: none;
}

.state-change {
  align-items: center;
  color: #c5b7a5;
  display: flex;
  flex-direction: column;
  margin-top: -0.65rem;
}

@media (min-width: 576px) {
.max_container {
  max-width: 590px;
}
}

@media (min-width: 768px) {
.max_container {
  max-width: 680px ;
}
}

@media (min-width: 992px) {
.max_container {
  max-width: 830px;
}
}

@media (min-width: 1200px) {
.max_container {
  max-width: 900px;
}
}

/* .container {
  max-width: 40.375rem;
} */

label[for=id_content] {
  display: none;
}

.total{
  border: 0.05rem solid rgba(0,0,0, 0.5);
  border-radius: 0.8rem;
  padding: 4.5rem 4rem;
  background: white;
}

.title {
  text-align: center;
  margin: 1rem 0 1rem 0;
  font-weight: bold;
}

#id_content {
  height:12.5rem;
  width: 27.5rem;
  padding-left: 0.3rem;
  border-radius: 1rem;
  
}

#btn {
 color:  #76716f;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.option {
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width:43.625rem;
  margin-top: 2rem;
}

.list-group {
  width: 21rem;
  display: flex;
  text-align: center;
}

.list-group-item {
  padding-left: 0.5rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}

#btn_update {
  background-color: #0b2f7d;
  border: 0rem solid transparent;
  margin-top: 0.5rem;
  color:white;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
}

#btn_update:hover {
  background-color: white;
  color:#0b2f7d;
  border: 0rem solid #0b2f7d; 
}

#btn_add {
  background-color: white;
  border: 0rem solid transparent;
  margin: 0.5rem 0 0 0.5rem;
  color:#0b2f7d;
  border-radius: 2rem;
  outline: 0;
  padding: 0.5rem 0.8rem;
  border: 0.063rem solid black;

}

#btn_add:hover{
  background-color: black;
  color: white;
}



hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}


hr {
  margin-top: 2rem !important;
}

.fa-pencil-alt{
  color: #0b2f7d;
}

.list-group-item+.list-group-item {
  border-top-width: 0.1rem;
}

#btn_modify {
  color:#0b2f7d;
  margin-top: 0.1rem;
  height: 2.5rem;
  width: 7.5rem;
  border: 0.1rem solid transparent;
  outline: 0;
}

#btn_modify:hover {
  outline: 0;
}

.buttons_ {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

#update {
  border-radius: 2rem !important;
}

#delete {
  border-radius: 2rem !important;
}

#add {
  border-radius: 2rem !important;
}

.form-control {
  width: 11.3rem !important;
}

.modal-body {
  display: flex;
  justify-content: start;
}