/*--------------------------
* Menu Tabular solo Con CSS
*---------------------------*/
/* html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} */

 /* *, 
*:before, 
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
} */

/* body {
	background: #7fcab6;
	font-size: 62.5%;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif;
}  */
/* a {
	color: #31a687;
	font-weight: bold;
	text-decoration: none;
} */

/*--------------------------
* MENU TABS
---------------------------*/
.menu__tabs {
	list-style: none;
	overflow: hidden;
  margin-bottom: 2.5rem;
	
}
.menu__tabs li {
	float: right;
  position: relative;
  left: -40.5%;
	margin-right: 1.4rem;
	font-size: 1.3rem;
}
.menu__tabs a {
	 padding: 0.6rem; 
	color: #333b48;
	background: #FFF;
	display: inline-block;
	text-decoration: none;
	border: 0.1rem solid #ded2a2;
	/* -webkit-border-radius: 1.5rem; */
	border-radius: 1.5rem;
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);

}
 .menu__tabs a:hover {
	color: #76716f;
  background-color:white;
	border: 0.1rem solid #ded2a2;
	padding: 0.6rem;
} 

.menu__tabs a.active {
	background: #ded2a2;
	color: #FFF;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.menu__tabs a.active i {
  color: #FFF;
}

.menu__tabs a i {
	color: #aaaaaa;
	margin-right: 0.2rem;
} 


.menu__wrapper {
	padding: 2em;
	position: relative;
	z-index: -1;
	background: #FFF;
	min-height: 300px;
	-webkit-border-radius: 1rem;
	border-radius: 1.5rem;
}

.menu__wrapper .menu__item {
	line-height: 1.3;
	color: #76716f;
	display: none;
}
.menu__wrapper .menu__item.item-active {
	display: block;
}



