

.total {
  border: 0.063rem solid #333;
  border-radius: 2rem;
  background-color: white;
}
/* 제목 */
.header {
  text-align: center;
  margin: 2.5rem 0 1.5rem 0;
  color: #0b2f7d;
}

/*컨테이너 */
.container {
  max-width: 50.875rem;
  height: 39.25rem;
}
/*form*/
.form-contents{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 5rem;
  position: relative;
}

.category {
  display: flex;
  justify-content: end;
  margin-right: 9.7rem;
}

/*카테고리 */
label[for=id_category] {
  font-size: 18px;
  padding-right: 0.4rem;
}

/*카테고리 버튼 */
#id_category {
  border-radius: 0.5rem;
  padding: 0.55rem;
  text-align: left;
  border: 0.01rem solid lightgray;
  color: gray;
  height: 3.125rem;
}



/*카테고리 옵션 */
option[value="오프라인 모임"] {
  text-align: center;
}
/*카테고리 옵션 */
option[value="온라인 스터디"] {
  text-align: center;
}

/*제목 */
label[for=id_title] {
  font-size: 18px;
  padding-right: 0.4rem;
  width: 3.25rem;
  margin-top: 1.5rem;
}

/*제목 박스 */
#id_title{
  margin-top: 1.2rem;
  width: 30rem;
  height: 4.025rem;
  padding: 0.5rem;
}

/*content label*/
label[for=id_content] {
  font-size: 18px;
  padding-right: 0.85rem;
  margin-top: 1.2rem;

}

/*content*/
#id_content {
  height:90px;
  margin-top: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 0.01rem solid lightgray;
  width: 30rem;
  position: absolute;
  z-index: 2;
}  
/*choice label*/
label[for=id_choice1] {
  font-size: 18px;
  padding-right: 0.85rem;
  margin-top: 1.2rem;
}


#id_choice1 {
  width: 30rem;
  height: 3.125rem;
  margin-top: 1.2rem;
}


label[for=id_choice2] {
  font-size: 18px;
  padding-right: 0.85rem;
  margin-top: 1.2rem;
}


#id_choice2 {
  width: 30rem;
  margin-top: 1.2rem;
  height: 3.125rem;
}


.buttons {
  display: flex;
  justify-content: center;
  margin: 1.6rem 1rem 3rem 2.3rem;
  left:47.338rem;
  bottom: 4rem;
  position: absolute;
}

.btns-add {
  background-color: #0b2f7d;
  color:white;
  font-weight: 600;
  border:none;
  padding:0.7rem 2rem;
  border-radius: 10rem;
}

.btns-add:hover{
  background-color: white;
  color:#0b2f7d;
}


.btns-back {
  margin-left: 1.0rem;
  color:white;
  border: 0.01rem solid transparent;
  font-weight: 600;
  /* height: 2.375rem;
  width: 5.516rem; */
  background-color: #505050;
  padding:0.7rem 2rem;
  border-radius: 10rem;
}

.btns-back:hover{
  background-color: white;
  color:#0b2f7d;
}

#back{
  border: none;
  background-color: transparent;
}


.forms_control {
  margin-left: 9.5rem; 
}


.person_img {
  width:8.125rem;
  height:7.5rem;
  opacity: 0.07;
  position: absolute;
  right:33.5rem;
  bottom:7.25rem;
  z-index: 1;
}