/* div, p, h1, hr, span, a, html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; 
	do: inherit;
	vertical-align: baseline;
} */


.total {
  background-color: #ffffff;
  border: 0.1rem solid #0b2f7d;
  border-radius: 2.5rem;
  margin: auto;
  margin-bottom: 10rem;
  padding: 4.5rem 4rem;
  width: 65%;
}

.main_title {
  color: #0b2f7d;
  font-family: 'Calistoga', 'NEXON Lv2 Gothic';
  font-size: 2.8rem;
  margin: 3rem 0 3rem 0;
  font-weight: 800;
  text-align: center;
  
}

.writing_button {
  position: relative;
  right: -15.8%;
  float: right;
}

/* .create_button {
  display: flex;
  align-items: center;
  margin-right:0;
} */

.bi-pencil-square::before {
  font-size: 1rem;
  color:#0b2f7d
}

.create-button {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  background-color: #0b2f7d;
  border: 0.1rem solid #0b2f7d;
  border-radius: 20rem;
  display: block;
  max-width: 8rem;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  text-decoration: none;
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.create-button {
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 0 inset;
  color: #ffffff;
}

.create-button:hover {
  border: 0.1rem solid #0b2f7d;
  box-shadow: #ffffff 0 0 0 2.5rem inset;
  color: #0b2f7d;
}


/* .btn-create {
  background: rgba(143, 206, 255, 0.3) !important;
  color:black !important;
  padding: 0.6rem;
  width: 6.25rem;
  height: 4.063rem; 
  font-size: 1.2rem;
  border: 0.01rem solid rgba(0,0,0, 0.1) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
} */


/* 카드 */
.card {
  height: 23.5rem;
  width: 19.5rem;
  border-radius: 0.938rem;
  display: inline-block;
  margin: 1rem 2rem 1rem 1.5rem;
  position: relative;
  box-shadow: 0 0.11rem 0.3rem 0 rgba(0, 0, 0, 0.2), 0 0.01rem 0 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  left:3.3%;
}

/*카드헤더*/
.card-header {
  -webkit-transition: 0.5s;
  -ms-transition:0.5s;
  transition: 0.5s;
  width:100%;
  height: 15rem;
  border-radius: 0.938rem 0.938rem 0 0;
}
/*카드 호버시 header 변화*/
.card:hover .card-header {
  opacity: 0.8;
  height:6rem;
}

/*오른쪽 상단 모집중*/
.card-header-is_closed {
  background-color: #0b2f7d;
  color: #fff;
  text-align: center;
  float: right;
  border-radius: 50%;
  font-weight: bold;
  padding: 0.625rem 0.625rem;
  line-height: 1.25rem;
  height:4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0 1.5rem;
  position: relative;
  top:-0.5rem;
  right: 0.04rem;
}

#end {
  text-decoration: none;
  color: #FFE4B5;
}



.complete {
  color: gray;

}

h1 {
  font-size: 22px;
  font-weight: bold;
}
/*제목 */
.small_title {
  margin: 0.7rem 0 2.5rem 0;
  line-height: 1.7rem;
  width: 100%;
}


/*카드 헤더 글씨*/
.card-body-header {
  line-height: 1.563rem;
  margin: 0.625rem 1.25rem 0 0;
}

/*설명부분*/
.card-body-description {
  color: black;
  -webkit-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-top: 0.293rem;
  opacity: 0;
}

/*호버시 텍스트 등장처리*/
.card:hover .card-body-description {
  opacity: 1;
  -webkit-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/*해쉬태그*/
.card-body-hashtag {
  background: transparent;
  border: 0.063rem solid rgba(0,0,0, 0.11);
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 0.875rem;;
}

/*해쉬태그 간격*/
.hashs {
  margin-left: 0.5rem;
}

/*footer*/
.card-body-footer {
  position: absolute;
  margin: 1rem 0 0.375rem 0;
  bottom: 0;
  width: 19rem;
  font-size: 0.875rem;
  color: #777777;
  padding: 0 0.9rem;
  display: flex;
  justify-content: space-between;
}

/*아이콘*/
.bi-eye {
  width: 1.563rem;
  height: 1.063rem;
  font-style: normal;
  font-size: 1.05rem;
}
/*눈 아이콘*/
.bi-eye::before {
  margin-right: 0.1rem;
}

/*아이콘*/
.bi-chat-dots {
  margin-left: 0.313rem;
  width: 1.563rem;
  height: 1.063rem;
  font-style: normal;
  font-size: 1.05rem;
}

.bi-chat-dots::before {
  margin-right: 0.15rem;
}

/*날짜*/
.reg_date {
  font-style: normal;
  font-size: 1rem;
}

/*날짜 조회수 댓글 배치*/
.sub-info {
  display: flex;
  justify-content: space-between;
}

.btn-more {
  display: flex;
  justify-content: center;
}

.btn-6 {
  background: #0b2f7d;
  line-height: 42px;
  padding: 0;
  border: none;
  border-radius: 1.0rem;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 80px;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow:
  -1px -1px 20px 0px rgba(255,255,255,1),
  -4px -4px 5px 0px rgba(255,255,255,1),
  7px 7px 20px 0px rgba(0,0,0,.4),
  4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
  margin-bottom: 4rem;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover{
  background: transparent;
  color: #0b2f7d;
  box-shadow: none;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
  -1px -1px 20px 0px rgba(255,255,255,1),
  -4px -4px 5px 0px rgba(255,255,255,1),
  7px 7px 20px 0px rgba(0,0,0,.4),
  4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
  left: 100px;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}


.more {
  text-decoration: none;
  color:white;
}
/*
.active > .page-link {
  background-color: #0b2f7d !important;
  border: #0b2f7d;
}

.pagination {
  justify-content: center;
} */



/*content scroll*/
.scroll {
  width: 18rem;
  height: 6rem;
  background: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 0.5rem;
}

/*scroll-bar size*/
.scroll::-webkit-scrollbar {
   width: 0.644rem;
}

/*스크롤 default*/
.scroll::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 0.094rem rgb(0,0,0); 
    /* background-color: gray; */
    border-radius: 1rem;
}


/*스크롤 내려갈때*/
.scroll::-webkit-scrollbar-thumb {
   border-radius: 1rem;
   /* inset | offset-x | offset-y | color */
   -webkit-box-shadow: inset 0 0 0.281rem gray; 
}



.card-body-nickname {
  font-size: 1.2rem;
}

#username {
  margin-top: 2rem !important;
}

.hiding {
  text-indent: -9999px;
  margin-bottom: 0;
  height: 0.438rem;
}
.option-active {
  display: "";
  
}
.option-inactive {
  display: none;
}

/* 페이지네이션 */
.pagination {
  --bs-pagination-bg: transparent;
  --bs-pagination-border-color: none;
  --bs-pagination-color: #434343;
  --bs-pagination-active-bg: transparent;
  --bs-pagination-focus-bg: transparent;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
  --bs-pagination-hover-bg: transparent;
}

.page-item {
  border-radius: 20rem;
  height: 2.25rem;
  margin: 0 0.4rem;
  width: 2.25rem;
}

.page-item:hover {
  font-weight: bold;
}

.active {
  background-color: #0b2f7d;
}

.page-link {
  text-align: center;
  padding: 0.3rem 0.15rem 0.5rem 0.2rem;
}

.option-inactive {
  display: none;
}

/* 서치창 */
.search-box {
  border: 0;
  display: flex;
  height: 2.3rem;
  /* margin-right: 14.7rem; */
  padding: 0.13rem 0rem;
  width: 25rem;
  justify-content: center;
}

.search-btn {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: #0b2f7d;
  display: flex;
  margin: 0;
  padding: 0;
}

.search-btn:hover {
  color: #0b2f7d;
}

.search-txt::-webkit-search-cancel-button {
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
}

.search-txt {
  border: none;
  display: flex;
  line-height: 1.9rem;
  outline: none;
  padding: 0;
  width: 90%;
}

/* 효과가 들어간 서치창
.search-box {
  background-color: #0b2f7d;
  border: 0.1rem solid #0b2f7d;
  border-radius: 20rem;
  height: 2.3rem;
  margin-right: 1rem;
  padding: 0.13rem 0.5rem;
  transform: translate(0, 0);
  transition: 0.4s;
  width: 3rem;
}

.search-box:hover {
  background-color: #ffffff;
  border: 0.1rem solid #0b2f7d;
  width: 17.7rem;
}

.search-btn {
  align-items: center;
  color: #ffffff;
  display: flex;
  height: 1.9rem;
  margin-right: 0.4rem;
  justify-content: flex-end;
}

.search-box:hover>.search-btn {
  color: #0b2f7d;
}

.search-txt {
  background: none;
  border: none;
  display: flex;
  float: left;
  font-size: 1rem;
  line-height: 1.9rem;
  outline: none;
  padding: 0;
  transition: .4s;
  width: 0;

.search-box:hover>.search-txt {
  width: 16rem;
  padding: 0 0.4rem;
} */

.search-txt::placeholder {
  font-size: 0.85rem;
}

.search-txt:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100rem #ffffff inset;
  box-shadow: 0 0 0 100rem #ffffff inset;
}


@media (max-width:1200px) {
  .total {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 2rem 2.5rem;
    width: 85%;
  }

  .writing_button {
    position: relative;
    right: -13.8%;
    float: right;

  }
  
}
@media (min-width:768px) {
  .total {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 2rem 2.5rem;
    width: 85%;
  }

  .writing_button {
    position: relative;
    right: -13.8%;
    float: right;

  }

  
}
@media (max-width:576px) {
  .total {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 1rem 1.5rem;
    width: 90%;
  }
  .menu__tabs li {
		float: right;
		position: relative;
		left: -40%;
		margin-right: 1rem;
		font-size: 1rem;
	}
  .create-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #0b2f7d;
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    display: block;
    /* max-width: 8rem; */
     padding: 9.6px; 
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  }

  .writing_button {
    position: relative;
    right: -13.8%;
    float: right;

  }

}
@media (max-width:500px) {
  .total {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 1rem 1.5rem;
    width: 90%;
  }
  .menu__tabs li {
		float: right;
		position: relative;
		/* left: -40%;
		margin-right: 1rem; */
		font-size: 0.8rem;
	}
  .create-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #0b2f7d;
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    display: block;
    /* padding: 9.6px; */
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  }

  .writing_button {
    position: relative;
    right: -8.8%;
    float: right;

  }
}
