{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            {% if edit_choice %}
            <h2>선택지 수정하기</h2>
            {% else %}
            <h2>선택지 추가하기</h2>
            {% endif %}
         
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                {% if edit_choice %}
                <button type="submit" class="btn btn-primary">업데이트</button>
                <a class="btn btn-danger" href="{% url 'gathering:choice_delete' choice.id %}" role="button" onclick="return confirm('해당 선택지를 지우시겠습니까?')">Delete</a>
                {% else %}
                <button type="submit" class="btn btn-primary">추가하기</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}