{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'gathering/css/gathering_add_choice.css' %}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
{% endblock css %}
{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            {% if edit_choice %}
            <h3>선택지 수정하기</h3>
            {% else %}
            <h3>선택지 추가하기</h3>
            {% endif %}
         
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.choice_text|attr:"placeholder:추가선택" }}
                {% if edit_choice %}
                <div class="buttons">
                    <button type="submit" class="btn" id="update">업데이트</button>
                    <a class="btn btn-danger" href="{% url 'gathering:choice_delete' choice.id %}" role="button" onclick="return confirm('해당 선택지를 지우시겠습니까?')" id="delete">삭제</a>
                    {% else %}
                    <button type="submit" class="btn" id="add">추가하기</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}