{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'gathering/css/gathering_create.css' %}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
{% endblock css %}
{% block content %}
<div class="container total">
    <div class="">
        <h2 class="header">모임 생성하기</h2>
            <div class="forms_control">
                <form action="" method="POST">
                    {% csrf_token %}
                    <span class="category">{{ form.category }}</span>
                    {{ form.choice1|attr:"placeholder:선택1" }}
                    {{ form.choice2|attr:"placeholder:선택2" }}
                    {{ form.title|attr:"placeholder:투표 제목" }}
                    {{ form.content|attr:"placeholder: 오프라인 모임 작성 시 꼭 적어주세요! 언제/어디서/모임목적/최대인원 |스터디 모집 작성 시 꼭 적어주세요! 스터디목적/주몇회(요일,시간)/최대인원" }}
                    <img src="{% static '/img/people.png'%}" class="person_img">
                </div>    
                    <div class="buttons">
                        <button type="submit" class="btn btns-add">투표 등록</button>
                        <button id="back"><a class="btn btns-back" href="{% url 'gathering:gathering-list' %}" role="button">돌아가기</a></button>           
                    </div>
                 </form>
    </div>
</div>
{% endblock content %}