{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'gathering/css/gathering_create.css' %}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
{% endblock css %}
{% block content %}
<div class="container total">
    <div class="">
        <h2 class="header">모임 생성하기</h2>
        
        
            <form action="" method="POST">
            {% csrf_token %}
            {{ form.category }}
            {{ form.title|add_class:"title"|attr:"placeholder:투표 제목" }}
            {{ form.content|add_class:"content"|attr:"placeholder:내용" }}
            {{ form.choice1|add_class:"choice1"|attr:"placeholder:선택1" }}
            {{ form.choice2|add_class:"choice2"|attr:"placeholder:선택2" }}
            <div class="buttons">
                <button type="submit" class="btn btn-primary btns-add">투표 등록</button>
                <a class="btn btn-warning btns-back" href="{% url 'gathering:gathering-list' %}" role="button">돌아가기</a>
            </div>
            </form>
    </div>
</div>
{% endblock content %}