{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'gathering/css/gathering_create.css' %}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
{% endblock css %}
{% block content %}

<div class="total">
    <p class="title">
        <a href="{% url 'gathering:gathering-list' %}">GATHERING BOARD</a><br><span class="state-change">CREATE</span>
    </p>
    <div class="forms_control">
        <form action="" method="POST" class="category-relative">
            {% csrf_token %}
            <span class="category">{{ form.category }}</span>
            {{ form.title|attr:"placeholder:투표 제목" }}
            {{ form.content|attr:"placeholder: 오프라인 모임 작성 시 [언제/어디서/모임목적/최대인원]                       스터디 모집 작성 시 [스터디목적/주몇회(요일,시간)/최대인원]" }}
            <div class="m-2">*투표를 받기 위한 선택지 2개를 입력해주세요*</div>
            {{ form.choice1|attr:"placeholder:선택1" }}
            {{ form.choice2|attr:"placeholder:선택2" }}
            <div class="buttons">
                <button type="submit" class="btn btns-add">등록</button>
                <button id="back"><a class="btn btns-back" href="{% url 'gathering:gathering-list' %}" role="button">취소</a></button>           
            </div>
        </form>
        {% comment %} <img src="{% static '/img/people.png'%}" class="person_img">   {% endcomment %}
    </div>      
</div>
{% endblock content %}