@charset "UTF-8";

/* 너비 설정 */
.index-container {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 4.5rem 4rem;
    width: 65%;
}


/* 제목 */
.title {
    color: #0b2f7d;
    font-family: 'Calistoga', 'NEXON Lv2 Gothic';
    font-size: 2.4rem;
    margin-bottom: 3.7rem;
    font-weight: bold;
    text-align: center;
}


/* 서치창 글쓰기 버튼 정렬 */
.search-create {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}


/* 서치창 */
.search-box {
    border: 0;
    display: flex;
    height: 2.3rem;
    margin-right: 14.7rem;
    padding: 0.13rem 0rem;
    width: 25rem;
    justify-content: center;
}

.search-btn {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #0b2f7d;
    display: flex;
    margin: 0;
    padding: 0;
}

.search-btn:hover {
    color: #0b2f7d;
}

.search-txt::-webkit-search-cancel-button {
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
}

.search-txt {
    border: none;
    display: flex;
    line-height: 1.9rem;
    outline: none;
    padding: 0;
    width: 90%;
}

/* 효과가 들어간 서치창
.search-box {
    background-color: #0b2f7d;
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    height: 2.3rem;
    margin-right: 1rem;
    padding: 0.13rem 0.5rem;
    transform: translate(0, 0);
    transition: 0.4s;
    width: 3rem;
}

.search-box:hover {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    width: 17.7rem;
}

.search-btn {
    align-items: center;
    color: #ffffff;
    display: flex;
    height: 1.9rem;
    margin-right: 0.4rem;
    justify-content: flex-end;
}

.search-box:hover>.search-btn {
    color: #0b2f7d;
}

.search-txt {
    background: none;
    border: none;
    display: flex;
    float: left;
    font-size: 1rem;
    line-height: 1.9rem;
    outline: none;
    padding: 0;
    transition: .4s;
    width: 0;

.search-box:hover>.search-txt {
    width: 16rem;
    padding: 0 0.4rem;
} */

.search-txt::placeholder {
    font-size: 0.85rem;
}

.search-txt:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100rem #ffffff inset;
    box-shadow: 0 0 0 100rem #ffffff inset;
}


/* 글쓰기 버튼 */
.cb-div {
    display: flex;
    justify-content: flex-end;
}

.create-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #0b2f7d;
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    display: block;
    max-width: 8.8rem;
    padding: 0.3em 2rem;
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.create-button {
    box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 0 inset;
    color: #ffffff;
}

.create-button:hover {
    border: 0.1rem solid #0b2f7d;
    box-shadow: #ffffff 0 0 0 2.5rem inset;
    color: #0b2f7d;
}


/* 가름선 */
hr {
    margin: 1.7rem 0;
}

.contents-start {
    margin-top: 0.3rem;
}


/* 게시글 이동 링크 */
tr {
    cursor: pointer;
}


/* 목록 글자 효과 제거 */
.article-list a {
    color: #434343;
    text-decoration: none;
}

.user,
.date,
.article-title,
.like,
.views,
.comments {
    margin: 0;
}


/* 목록 */
.user-comments {
    color: #909090;
    font-size: 0.85rem;
}

.edited {
    margin: 0;
}

.article-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.views-comments {
    align-items: center;
    display: flex;
    font-size: 0.85rem;
}

.views-comments img {
    height: 0.8rem;
    opacity: 0.4;
    margin-left: 0.8rem;
    width: 0.8rem;
}


.views img {
    height: 0.9rem;
}


/* 페이지네이션 */
.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-border-color: none;
    --bs-pagination-color: #434343;
    --bs-pagination-active-bg: transparent;
    --bs-pagination-focus-bg: transparent;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
    --bs-pagination-hover-bg: transparent;
}

.page-item {
    border-radius: 20rem;
    height: 2.25rem;
    margin: 0 0.4rem;
    width: 2.25rem;
}

.page-item:hover {
    font-weight: bold;
}

.active {
    background-color: #0b2f7d;
}

.page-link {
    text-align: center;
    padding: 0.3rem 0.15rem 0.5rem 0.2rem;
}