@charset "UTF-8";

/* 너비 설정 */
.update-container {
  background-color: #ffffff;
  border: 0.1rem solid #0b2f7d;
  border-radius: 2.5rem;
  margin: auto;
  margin-bottom: 10rem;
  padding: 4.5rem 4rem;
  width: 55%;
}


/* 제목 */
.title {
    color: #0b2f7d;
    font-family: 'Bree Serif', serif;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 4rem;
    text-align: center;
}


/* 폼 조절 */
form p {
    margin-bottom: 1.5rem;
}

#id_title {
    border: 0.1rem solid #ced4da;
    padding: 0.5rem;
    width: 100%;
}

#id_title:focus {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid #ced4da;
    outline: none;
}

#id_title::placeholder {
    color: #888888;
    font-size: 0.85rem;
    padding-top: 1.8rem;
}

.wmd-wrapper {
    border-radius: 0.3rem;
}


/* 버튼 위치 조절 */
.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 16rem;
}


/* 작성 버튼 */
.edit-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #0b2f7d;
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    display: block;
    margin: 2.4rem auto;
    max-width: 8rem;
    padding: 0.6rem 2rem;
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.edit-button {
    box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 0 inset;
    color: #ffffff;
    font-weight: 500;
}

.edit-button:hover {
    border: 0.1rem solid #0b2f7d;
    box-shadow: #ffffff 0 0px 0px 40px inset;
    color: #0b2f7d;
    font-weight: 500;
}


/* 뒤로가기 버튼 */
.back-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #666666;
    border: 0.1rem solid #666666;
    border-radius: 20rem;
    display: block;
    margin: 2.4rem auto;
    max-width: 8rem;
    padding: 0.6rem 2rem;
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.back-button {
    box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 0 inset;
    color: #ffffff;
    font-weight: 500;
}

.back-button:hover {
    border: 0.1rem solid #eeeeee;
    box-shadow: rgba(255, 255, 255, 0.8) 0 0px 0px 40px inset;
    color: #434343;
    font-weight: 500;
}