@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap%27');

@font-face {
      font-family: 'NEXON Lv2 Gothic';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
      font-weight: bold;
      font-style: normal;
    }
* {
font-family: 'Calistoga', 'NEXON Lv2 Gothic';
}


/* body */
body {
  background-image: linear-gradient(rgba(255,253,208, 0.4), rgba(255,253,208, 0.4)), url('/static/images/Instagram.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'NanumSquareRound', sans-serif !important;
}



.main-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  
}


.main-title {
  font-size: 1.563rem;
  color: white;
  /* letter-spacing: 4px; */
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
  font-weight: 700;
}

.first-letter {
  font-size: 5.8rem;
  color: #2d3548;
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
  font-style: normal;
  
}



@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*card*/
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
  --width-container: 75rem;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 65%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}


@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.cards {
  background-color: transparent !important;
  border: 0px solid transparent !important;
}


.card_background {
  /* background-size: cover;
  background-position: center; */
  border-radius: 0.7rem;
  bottom: 0;
  /*이미지 밝기 채도 대비 */
  /* filter: brightness(0.85) saturate(1.2) contrast(0.85); */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
  filter 200ms linear,
  transform 200ms linear;
  background-color: white;
  opacity: 0.9;
}

.card:hover .card_background {
  transform: scale(1.05) translateZ(0);
}



.card_content {
  left: 0.125rem;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}


.card_content .card_heading_small {
  position: relative;
  left: 10.2rem;
  top: 0;
  font-size: 1.875rem;
  letter-spacing: 0.094rem;
  /*relative 줄시에 가운데로 오게 하는 법 */
  transform: translateX(-50%);
  color: black;
  /* text-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6); */
}


.card_content .card_heading_big {
  position: relative;
  left: 7.5rem;
  top: 0;
  font-size: 1.875rem;
  letter-spacing: 0.094rem;
  /*relative 줄시에 가운데로 오게 하는 법 */
  transform: translateX(-50%);
  color: black;
  /* text-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6); */
}

/* .card_content .card_below_big {
  position: relative;
  left: 120px;
  font-size: 30px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  margin-top: 40px;
} */


/* .card_content .card_below_small {
  position: relative;
  left: 110px;
  font-size: 30px;
  transform: translateX(-50%);
  margin-top: 40px;
  width: 100px;
  height: 100px;
} */


.card_category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
}

.card_heading_small {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  margin-top: 20px;
}

.card_heading_big {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  margin-top: 20px;
}


/* button */
.btns {
  position: relative;
  left: 2.6rem;
  margin-top: 2.5rem;
}

.card_content .btns_s {
  position: relative;
  left: 6rem;
  margin-top: 2.5rem;
}

#btn {
  padding:0.85rem 2.863rem;
  border-radius: 2rem;
  margin-top: 6rem;
  background-color: rgba(11, 47, 125, 0.9);
  color: white;
}

#btn:hover {
  background-color: white;
  color: rgba(11, 47, 125, 0.9);
  border: 0.01rem solid black;
}
