@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap%27');

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
      font-family: 'NEXON Lv2 Gothic';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    
* {
font-family: 'Calistoga';
}


/* body */
body {
  background-image: linear-gradient(rgba(246, 243, 231, 0.65), rgba(246, 243, 231, 0.65)), url('/static/images/Instagram.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'NanumSquareRound', sans-serif !important;
}



.main-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  
}


.main-title {
  font-size: 1.563rem;
  color: white;
  font-weight: 700;
}

.first-letter {
  font-size: 5.8rem;
  color: #2d3548;
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  font-style: normal;
  
}



@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*card*/
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
  --width-container: 75rem;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.hero-section {
  align-items: flex-start;
  display: flex;
  min-height: 65%;
  justify-content: center;
  padding: 4.5rem 4rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}




.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.cards {
  background-color: transparent !important;
  border: 0px solid transparent !important;
}


.card_background {
  /* background-size: cover;
  background-position: center; */
  border-radius: 0.7rem;
  bottom: 0;
  /*이미지 밝기 채도 대비 */
  /* filter: brightness(0.85) saturate(1.2) contrast(0.85); */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
  filter 200ms linear,
  transform 200ms linear;
  background-color: rgb(253, 254, 248);
  opacity: 0.9;
}

.card:hover .card_background {
  transform: scale(1.05) translateZ(0);
}



.card_content {
  left: 0.125rem;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}


.card_content .card_heading_small {
  position: relative;
  left: 10rem;
  top: 0;
  font-size: 1.875rem;
  /*relative 줄시에 가운데로 오게 하는 법 */
  transform: translateX(-50%);
  color: black;
  font-family: 'GongGothicMedium';
}


.card_content .card_heading_big {
  position: relative;
  left: 7.6rem;
  top: 0;
  font-size: 1.875rem;
  /*relative 줄시에 가운데로 오게 하는 법 */
  transform: translateX(-50%);
  color: black;
  font-family: 'GongGothicMedium'
}

/* .card_content .card_below_big {
  position: relative;
  left: 120px;
  font-size: 30px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  margin-top: 40px;
} */


/* .card_content .card_below_small {
  position: relative;
  left: 110px;
  font-size: 30px;
  transform: translateX(-50%);
  margin-top: 40px;
  width: 100px;
  height: 100px;
} */


.card_category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
}

.card_heading_small {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  margin-top: 20px;
}

.card_heading_big {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  margin-top: 20px;
}


/* button */
.btns {
  position: relative;
  left: 2.6rem;
  margin-top: 2.5rem;
}

/* .card_content .btns_s {
  position: relative;
  left: 5rem;
  margin-top: 2.5rem;
} */

#btn {
  padding:0.85rem 2.863rem;
  border-radius: 2rem;
  margin-top: 5rem;
  background-color: rgba(11, 47, 125, 0.9);
  color: white;
}

#btn:hover {
  background-color: white;
  color: rgba(11, 47, 125, 0.9);
  border: 0.01rem solid black;
}



#btn_small {
  padding:0.85rem 2.863rem;
  border-radius: 2rem;
  margin-top: 5rem;
  background-color: rgba(11, 47, 125, 0.9);
  color: white;
}

#btn_small:hover {
  background-color: white;
  color: rgba(11, 47, 125, 0.9);
  border: 0.01rem solid black;
}




/*media query*/


@media(min-width: 415px){
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card_content .card_heading_big {
    left: 7rem;
    top: 0;
   
  }

  .card_content .card_heading_small {
    left: 9.5rem;
    top: 0;
  }


  body {
    background-repeat: repeat;
  }

  .btns {
    left: 1.8rem;
  }

  .first-letter {
    font-size: 4.5rem;
    
  }

  .card {
    --bs-card-height:300px !important;
  }

  .hero-section {
    padding: 4.5rem 4rem;
  }

}


@media(min-width: 470px){
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card_content .card_heading_big {
    left: 10.5rem;
    top: 0;
   
  }

  .card_content .card_heading_small {
    left: 13rem;
    top: 0;
  }


  body {
    background-repeat: repeat;
  }

  .btns {
    left: 5.5rem;
  }

  .first-letter {
    font-size: 4.5rem;
    margin: auto;
  }

  .card {
    --bs-card-height:330px !important;
    width:370px;
  }

  .hero-section {
    padding: 4.5rem 4rem;
  }
}


@media(min-width: 550px){
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card_content .card_heading_big {
    left: 10.5rem;
    top: 0;
   
  }

  .card_content .card_heading_small {
    left: 12.8rem;
    top: 0;
  }


  body {
    background-repeat: repeat;
  }

  .btns {
    left: 5.3rem;
  }

  .first-letter {
    font-size: 4.5rem;
    margin-left:8rem;
  }

  .card {
    --bs-card-height:330px !important;
    width:370px;
  }


  .hero-section {
    padding: 4.5rem 4rem;
  }
}
@media(min-width: 576px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_content .card_heading_big {
    left: 5.8rem;
    top: 0;
   
  }

  .card_content .card_heading_small {
    left: 8.5rem;
    top: 0;
  }

  body {
    background-repeat: repeat;
  }

  .btns {
    left: 0.9rem;
  }

  .first-letter {
    font-size: 5.8rem;
    margin-left: 5rem;
    
  }

  .card {
    --bs-card-height:300px;
    width:220px;
  }

  .hero-section {
    padding: 4.5rem 0 0 1rem;
  }
}

@media(min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_content .card_heading_big {
    left: 7.7rem;
    top: 0;
   
  }

  .card_content .card_heading_small {
    left: 10.5rem;
    top: 0;
  }

  body {
    background-repeat: repeat;
  }

  .btns {
    left: 2.8rem;
  }

  .first-letter {
    font-size: 5.8rem;
    margin-right: 3rem;
    
  }
  .card {
    --bs-card-height:300px;
    width: 290px;
  }

  .hero-section {
    padding: 4.5rem 4rem;
  }
}


@media(min-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_content .card_heading_big {
    left: 10rem;
    top: 0;
   
  }

  .card_content .card_heading_small {
    left: 12.5rem;
    top: 0;
  }

  body {
    background-repeat: repeat;
  }

  .btns {
    left: 5rem;
  }

  .first-letter {
    font-size: 5.8rem;
    margin-right: -10px;
  }

  .card {
    --bs-card-height:550px;
    width:370px;
  }

  .hero-section {
    padding: 4.5rem 0 0 7.1rem;
  }
 
}

@media(min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .card_content .card_heading_big {
    left: 8rem;
    top: 0;
   
  }

  .card_content .card_heading_small {
    left: 10.7rem;
    top: 0;
  }
  body {
    background-repeat: no-repeat;
  }

  .btns {
    left: 3rem;
  }
  
  .first-letter {
    font-size: 5.8rem;
    margin-right: 3rem;
  }

  .card {
    --bs-card-height:400px !important;
    width:300px;
  }
  
  .hero-section {
    padding: 4.5rem 4.25rem 0 0;
  }
}

@media(min-width: 1600px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .card_content .card_heading_big {
    left: 8rem;
    top: 0;
   
  }

  .card_content .card_heading_small {
    left: 10.7rem;
    top: 0;
  }

  body {
    background-repeat: no-repeat;
  }

  .btns {
    left: 3.0rem;
  }
  
  .first-letter {
    font-size: 5.8rem;
    margin-left: 5.6rem;
  }
  .card {
    --bs-card-height:550px;
  }

  .hero-section {
    padding: 4.5rem 4.3rem 0 0;
  }

}