@charset "UTF-8";

/* 네비게이션바 전반적인 조절 */
.navbar {
    display: flex;
    font-family: 'Calistoga', 'NEXON Lv2 Gothic';
    justify-content: space-between;
    padding: 1rem 2.8%;
}


/* 로고 */
.logo img {
    height: 1.5rem;
}


/* 카테고리 위치 설정 */
.cate {
    display: flex;
}

.cate2 {
    display: flex;
    font-size: 1rem;
}

.user-info {
    display: flex;
}


/* 폰트 조절 */
.nav-link {
    color: #666666;
    padding: 0 !important;
}

.nav-link:hover {
    font-weight: 500;
}


/* 각 카테고리 간격 조절 */
.a-cate {
    margin: 0 1rem 0 3rem;
    font-size: 1.5rem;
}

.user-cate {
    margin: 0 0.5rem;
}

.alarm {
    margin: 0 0.5rem;
}

.notice {
    margin-left: 0.5rem;
}


/* 카테고리 */
.cate a {
    color: var(--color-link);
    outline: none;
    text-decoration: none;
}

.cate a:hover {
    color: var(--color-link-hover);
    outline: none;
}


.a-cate {
    color: var(--color-text);
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.a-cate::before,
.a-cate::after {
    background: currentColor;
    height: 0.05rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

.a-cate::before {
    content: '';
}

.a-cate::before {
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%;
    transition: transform 0.3s;
}

.a-cate:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 50%;
}


/* 알람 */
.alarm:after {
    clear: both;
    content: '';
    display: block;
}

.alarm {
    position: relative;
}

.alarm a {
    display: block;
}

.alarm:hover .messages {
    display: block;
}

.messages {
    display: none;
    margin: 0;
    position: absolute;
    right: 0;
}

.new-messages {
    text-align: right;
    width: 21rem;
}

.messages a {
    color: #434343;
    display: block;
    margin-top: 1rem;
    text-decoration: none;
}

.messages a:hover {
    color: #434343;
    font-weight: 700;
    text-decoration: none;
}

.no-message {
    font-weight: 400;
    margin-top: 1rem;
    text-align: right;
    width: 21rem;
}

/* 서치창 */
.nsearch-box {
    border: 0;
    display: flex;
    height: 2.3rem;
    /* padding: 0.1rem 0rem; */
    width: 20rem;
    justify-content: center;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2rem;
    background-color: #f6f3e7;
}

.nsearch-btn {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #0b2f7d;
    display: flex;
    margin: 0;
    padding: 0;
}

.nsearch-btn:hover {
    color: #0b2f7d;
}

.nsearch-txt::-webkit-search-cancel-button {
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
}

.nsearch-txt {
    border: none;
    display: flex;
    justify-content: space-between;
    line-height: 1.9rem;
    outline: none;
    padding: 0;
    width: 80%;
    background-color: #f6f3e7;
}
.nsearch-txt::placeholder {
    font-size: 0.85rem;
}

.nsearch-txt:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100rem #ffffff inset;
    box-shadow: 0 0 0 100rem #ffffff inset;
} 