{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/change_password.css' %}">
{% endblock css %}

{% block content %}
<div class="password-container">
  <p class="password-title">비밀번호 변경</p>

  <div class="password-form">
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="buttons">
        <input class="password-button" type="submit" value="수정">
        <button type="button" class="back-button"
          onclick="location.href='{% url 'accounts:edit_profile' user.pk %}' ">취소</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}