{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'accounts/css/detail.css' %}">
{% endblock css %}
{% block content %}
<div class="detail-container">
  <!-- 왼쪽 개인 정보창 -->
  <div class="left">

    <!-- 개인정보 영역 -->
    <div class="personal-info">
      <!-- 프로필 사진 -->
      <div class="profile-img">
        {% if user.social_id %}
        {% if user.image %}
        <img src="{{ user.image.url }}" alt="프로필 사진">
        {% else %}
        <img src="{{ user.social_profile_picture }}" alt="프로필 사진">
        {% endif %}
        {% else %}
        {% if user.image %}
        <img src="{{ user.image.url }}" alt="프로필 사진">
        {% else %}
        <img src="https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg" class="initial-img"
          alt="프로필 기본 사진">
        {% endif %}
        {% endif %}
      </div>
      <!-- profile-img -->
      <!-- 별명 / 회원 정보 수정 버튼(팔로우 버튼) -->
      <div class="nickname-buttons">
        <!-- 별명 -->
        <p class="nickname">{{ user.nickname }}</p>

        <div class="follow-button">
          <!-- 프로필이 자신일 경우 -->
          {% if request.user == user %}
          <!-- 회원 정보 수정 버튼이 뜸 -->
          <button type="button" class="edit-button"
            onclick="location.href='{% url 'accounts:edit_profile' user.pk %}'">수정</button>

          <!-- 프로필이 타인일 경우 -->
          {% else %}
          <!-- 쪽지보내기 -->
          <!-- <a href="{% url 'notes:send' user.pk %}"> <div>쪽지보내기</div> </a> -->
          <!-- 팔로우 버튼이 뜸 -->
          <div class="f-buttons">
            {% if request.user != user %}
            {% if request.user not in followers %}
            <button type="button" id="follow-btn" data-user-id="{{ user.pk }}" class="follow-button">팔로우</button>
            {% else %}
            <button type="button" id="follow-btn" data-user-id="{{ user.pk }}" class="unfollow-button">팔로우 취소</button>
            {% endif %}
            <!-- % if request.user not in followers % -->
            {% endif %}
            <!-- % if request.user != user % -->
          </div>
          {% endif %}
          <!-- % if request.user == user % -->
        </div>
        <!-- follow-button -->
      </div>
      <!-- nickname-buttons -->

      <!-- 아이디 삭제 -->
      <!-- <p>{{ user.username }}</p> -->

      <!-- 팔로워 / 팔로잉 -->
      <div id="follow-cnt" class="follow-counts">
        <div class='usercard' data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div>
            <p class="follower">팔로워
              <span class="followers-count">{{ followers.count }}</span>
            </p>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">나를 팔로우하는 사람</h1>
                </div>
                <div class="modal-body" id="followers-modal">
                  {% for user in user.followers.all %}
                  <div class="follow-user">
                    <a href="{% url 'accounts:detail' user.pk %}">
                      {% if user.image %}
                      {% if not user.is_social %}
                      <img class='follow-profile-img' src="{{ user.image.url }}" alt="프로필 사진">
                      {% else %}
                      <img class='follow-profile-img' src="{{ user.image }}" alt="프로필 사진">
                      {% endif %}
                      {% else %}
                      <img class='follow-profile-img'
                        src="https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg" alt="프로필 기본 사진">
                      {% endif %}
                      <div class="follow-name">{{ user }}</div>
                    </a>
                  </div>
                  {% empty%}
                  <p class="follow-p">나를 팔로우하는 사람이 없습니다.</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='usercard' data-bs-toggle="modal" data-bs-target="#exampleModal1">
          <div>
            <p class="following">팔로잉
              <span class="followings-count">{{ followings.count }}</span>
            </p>
          </div>
          <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">내가 팔로우하는 사람</h1>
                </div>
                <div class="modal-body" id="followings-modal">
                  {% for user in user.followings.all %}
                  <div class="follow-user">
                    <a href="{% url 'accounts:detail' user.pk %}">
                      {% if user.image %}
                      {% if not user.is_social %}
                      <img class='follow-profile-img' src="{{ user.image.url }}" alt="프로필 사진">
                      {% else %}
                      <img class='follow-profile-img' src="{{ user.image }}" alt="프로필 사진">
                      {% endif %}
                      {% else %}
                      <img class='follow-profile-img'
                        src="https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg" alt="프로필 기본 사진">
                      {% endif %}
                      <p class="follow-name">{{ user }}</p>
                    </a>
                  </div>
                  {% empty%}
                  <p class="follow-p">내가 팔로우하는 사람이 없습니다.</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 한마디(bio) -->
      {% if user.introduce %}
      <div class="bio">
        <p>{{ user.introduce }}</p>
      </div>
      {% else %}
      <div class="bio">
        <p class="empty-text">등록된 한마디가 없습니다.</p>
      </div>
      {% endif %}
      <div class="my-2">
        {% if request.user != user %}
          <!--쪽지보내기-->
          <span class="send-message" data-bs-toggle="modal" data-bs-target="#sendModal">
            쪽지 보내기
          </span>

          <!-- Modal -->
          <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <!--<div class="modal-header"> <h5 class="modal-title" id="sendModalLabel">쪽지 보내기</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> </div>-->
                <div class="modal-body">
                  <div class="container modal-container">
                    <div class="btn-to-right">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <fieldset disabled="disabled">
                      <div class="modal-forms">
                        <label for="disabledTextInput" class="form-label">받는 사람</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user}}">
                      </div>
                    </fieldset>
                    <form action="" method="POST" class="modal-content-forms">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      <div class="buttons">
                        <div class="submit-button">{% bootstrap_button button_type=submit content='전송'%}</div>
                        <button type="button" class="back-button" data-bs-dismiss="modal">취소</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <!-- 이메일 -->
      {% if user.email %}
      <div class="email-info">
        <i class="bi bi-envelope"></i>
        <p class="email-text">{{ user.email }}</p>
      </div>
      {% else %}
      <div class="email-info">
        <i class="bi bi-envelope"></i>
        <p class="empty-text">등록된 이메일이 없습니다.</p>
      </div>
      {% endif %}

      <!-- 깃허브 -->
      {% if user.profile_url %}
      <div class="github-info">
        <i class="bi bi-github"></i>
        <a href="{{ user.profile_url}}">{{ user.profile_url}}</a>
      </div>
      {% else %}
      <div class="github-info">
        <i class="bi bi-github"></i>
        <p class="empty-text">등록된 깃허브 주소가 없습니다.</p>
      </div>
      {% endif %}
    </div>
    <!-- personal-info -->
    <!-- 개인정보 관련 카테고리 -->
    <!--{{ count }}-->
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1" value="1">쪽지</li>
      <li class="tab-link" data-tab="tab-2" value="2">작성 글</li>
      <li class="tab-link" data-tab="tab-3" value="3">작성 댓글</li>
    </ul>
    <!-- personal-cate -->
  </div>
  <!-- left -->

  <!-- 왼쪽의 카테고리를 눌렀을 때 뜨는 페이지 -->
  <div class="right">
    <div id="tab-1" class="tab-content current">
      <!-- 드롭다운 -->
      <div class="dropdown">
        <select class="down2 form-select">
          <option value="8">
            전체 쪽지
          </option>
          <option value="9">
            보낸 쪽지
          </option>
          <option value="10">
            받은 쪽지
          </option>
        </select>
      </div>
      <!-- dropdown -->
      <!-- 보낸 쪽지 -->
      <hr class="hrs">
      {% if notes %}
      <div id="my-to-notes" class="option-active">
        {% for note in notes %}
        {% if user == note.from_user %}
        <div class="contents-list">
          <!-- Button trigger modal -->
          <button onclick="answer2(this)" value="{{note.pk}}" data-tonote-id="{{ note.pk }}" type="button"
            class="go-message" data-bs-toggle="modal" data-bs-target="#tonote{{note.pk}}">
            {{note.title}}
          </button>

          <!-- Modal -->
          <div class="modal fade" id="tonote{{note.pk}}" tabindex="-1" aria-labelledby="tonote{{note.pk}}Label"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <!--<div class="modal-header"> <h5 class="modal-title" id="tonote{{note.pk}}Label">{{note.title}}</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> </div>-->
                <div class="modal-body">
                  <div id="container" class="container modal-container">
                    <div class="btn-to-right">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div>
                      <div class="users">
                        <p class="who">보낸 사람
                          <span class="user-bold user-self">{{note.from_user}}
                          </span>
                        </p>
                        <p class="who">받는 사람
                          <span class="user-bold">{{note.to_user}}</span>
                        </p>
                      </div>
                      <!--<p class="message-title">{{ note.title }}</p>-->
                      <p class="message-content">{{ note.content }}</p>
                    </div>
                    <div id="ans{{note.pk}}" style="display:none;">
                      <div class="container my-5" style="max-width:500px;">
                        <fieldset disabled="disabled">
                          <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">받는 사람</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                              placeholder="{{note.from_user}}">
                          </div>
                        </fieldset>
                        <form action="/accounts/{{note.from_user.pk}}/send/" method="POST">
                          {% csrf_token %}
                          {% bootstrap_form form %}
                          <div class="text-end">
                            {% bootstrap_button button_type=submit content='전송'%}
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="a-button">
                      <div class="submit-button">
                        <button type="button" data-bs-dismiss="modal">확인</button>
                      </div>
                      <!-- submit-button -->
                    </div>
                    <!-- a-button -->
                  </div>
                  <!-- modal-container -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- contents-list -->
        <hr class="hrs">
        {% elif forloop.counter0 == 0 and request.user.pk != note.from_user_id and request.user.pk != note.to_user_id %}
        <!--쪽지보내기-->
        <!-- Button trigger modal -->
        <p class="send-message" data-bs-toggle="modal" data-bs-target="#sendModal">
          쪽지 보내기
        </p>

        <!-- Modal -->
        <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <!--<div class="modal-header"> <h5 class="modal-title" id="sendModalLabel">쪽지 보내기</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> </div>-->
              <div class="modal-body">
                <div class="container modal-container">
                  <div class="btn-to-right">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <fieldset disabled="disabled">
                    <div class="modal-forms">
                      <label for="disabledTextInput" class="form-label">받는 사람</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user}}">
                    </div>
                  </fieldset>
                  <form action="" method="POST" class="modal-content-forms">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="buttons">
                      <div class="submit-button">{% bootstrap_button button_type=submit content='전송'%}</div>
                      <button type="button" class="back-button" data-bs-dismiss="modal">취소</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- % if request.user.pk == note.to_user_id % -->
        {% endfor %}
        <!-- % for article in articles % -->
      </div>
      {% else %}
      {% if request.user != user %}
      <!--쪽지보내기-->
      <p class="no-comment">주고 받은 쪽지가 없습니다.<br>
        <span class="send-message" data-bs-toggle="modal" data-bs-target="#sendModal">
          쪽지 보내기
        </span>를 통해 주고 받아보세요!
      </p>

      <!-- Modal -->
      <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="sendModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!--<div class="modal-header"> <h5 class="modal-title" id="sendModalLabel">쪽지 보내기</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> </div>-->
            <div class="modal-body">
              <div class="container modal-container">
                <div class="btn-to-right">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <fieldset disabled="disabled">
                  <div class="modal-forms">
                    <label for="disabledTextInput" class="form-label">받는 사람</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user}}">
                  </div>
                </fieldset>
                <form action="" method="POST" class="modal-content-forms">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <div class="buttons">
                    <div class="submit-button">{% bootstrap_button button_type=submit content='전송'%}</div>
                    <button type="button" class="back-button" data-bs-dismiss="modal">취소</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      <!-- 받은 쪽지 -->
      <div id="my-from-notes" class="option-active">
        {% for note in notes %}
        {% if user == note.to_user %}
        <div class="contents-list-{{note.pk}}">
          <!-- Button trigger modal -->
          <button onclick="answer(this)" value="{{note.pk}}" data-fnote-id="{{ note.pk }}" class="go-message"
            data-bs-toggle="modal" data-bs-target="#fromnote{{note.pk}}">
            {{note.title}}
          </button>
          {% if user == request.user %}
          <button type="button" onclick="delete_message(this)" data-deletemessage-id="{{ note.pk }}"
            class="delete-message">X</button>
          {% endif %}
          <!-- Modal -->
          <div class="modal fade" id="fromnote{{note.pk}}" tabindex="-1" aria-labelledby="fromnote{{note.pk}}Label"
            aria-hidden="true">
            <div class="modal-dialog long-dialog">
              <div class="modal-content">
                <!--<div class="modal-header"> <h5 class="modal-title" id="fromnote{{note.pk}}Label">{{note.title}}</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> </div>-->
                <div class="modal-body1">
                  <div id="container" class="container modal-container">
                    <div class="btn-to-right">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div>
                      <div class="users">
                        <p class="who">보낸 사람
                          <span class="user-bold">{{note.from_user}}
                          </span>
                        </p>
                        <p class="who">받는 사람
                          <span class="user-bold user-self">{{note.to_user}}
                          </span>
                        </p>
                      </div>
                      <!--<p class="message-title">{{ note.title }}</p>-->
                      <p class="message-content">{{ note.content }}</p>
                    </div>
                    {% if request.user != note.from_user %}
                    <div class="a-button">
                      <div class="submit-button">
                        <button id="answ{{note.pk}}" value="1">답장하기</button>
                      </div> <!-- submit-button -->
                    </div> <!-- a-button -->
                    {% else %}
                    <div class="a-button">
                      <div class="submit-button">
                        <button type="button" data-bs-dismiss="modal">확인</button>
                      </div> <!-- submit-button -->
                    </div> <!-- a-button -->
                    {% endif %}
                    <div id="ans{{note.pk}}" style="display:none;" value="0">
                      <div class="container my-5" style="max-width:500px;">
                        <fieldset disabled="disabled">
                          <div class="modal-forms">
                            <label for="disabledTextInput" class="form-label">받는 사람</label>
                            <input type="text" id="disabledTextInput" class="form-control"
                              placeholder="{{note.from_user}}">
                          </div>
                        </fieldset>
                        <form action="/accounts/{{note.from_user.pk}}/send/" method="POST" class="modal-content-forms">
                          {% csrf_token %}
                          {% bootstrap_form form %}
                          <div class="buttons">
                            <div class="submit-button">{% bootstrap_button button_type=submit content='전송'%}</div>
                            <button type="button" class="back-button" data-bs-dismiss="modal">취소</button>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                  <!-- modal-container -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- contents-list -->
        <hr class="hrs hrs-{{note.pk}}">
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <div id="tab-2" class="tab-content">
      <!-- 드롭다운 -->
      <div class="dropdown">
        <select class="down form-select">
          <option value="0">
            전체 게시판
          </option>
          <option value="1">
            질문 게시판
          </option>
          <option value="2">
            자유 게시판
          </option>
          <option value="3">
            모임 게시판
          </option>
        </select>
      </div>
      <!-- dropdown -->

      <!-- 질문게시판 글 -->
      <hr class="hrs">

      <div id="my-articles" class="option-active">
        {% for article in articles %}
        {% if request.user.pk == article.user_id %}
        <div class="contents-list">
          <a href="{% url 'articles:detail' article.pk %}" class="a-content-title">[{{article.category}}]
            {{article.title}}</a>
          <div class="article-infos">
            <p>조회수 ㅣ {{article.hits}} ㅣ 좋아요 {{ article.like_users.count }} ㅣ 댓글 {{article.comment_user.count}}</p>
          </div> <!-- article-infos -->
        </div> <!-- contents-list -->
        <hr class="hrs">

        {% else %}
        {% if not article.unname %}
        <div class="contents-list">
          <a href="{% url 'articles:detail' article.pk %}" class="a-content-title">[{{article.category}}]
            {{article.title}}</a>
          <p class="a-content">{{article.content}}</p>
          <div class="article-infos">
            <p>조회수 ㅣ {{article.hits}} ㅣ 좋아요 {{ article.like_users.count }} ㅣ 댓글 {{article.comment_user.count}}</p>
          </div> <!-- article-infos -->
        </div> <!-- contents-list -->
        <hr class="hrs">
        {% endif %}
        <!-- % if not article.unname % -->
        {% endif %}
        <!-- % if request.user.pk == article.user_id % -->
        {% endfor %}
        <!-- % for article in articles % -->
      </div>

      <!-- 자유게시판 글 -->
      <div id="my-frees" class="option-active">
        {% for free in frees %}
        {% if request.user.pk == free.user_id %}
        <div class="contents-list">
          <a href="{% url 'free:detail' free.pk %}" class="a-content-title">{{ free.title }}</a>
          <div class="article-infos">
            <p>조회수 {{free.hits}} ㅣ 좋아요 {{ free.like_free.count }} ㅣ 댓글 {{ free.free_user.count }}</p>
          </div> <!-- article-infos -->
        </div> <!-- contents-list -->
        <hr class="hrs">
        {% endif %}
        {% endfor %}
      </div>

      <!-- 모임게시판 글 -->
      <div id="my-gatherings" class="option-active">
        {% for gathering in gatherings %}
        <div class="contents-list">
          <a href="{% url 'gathering:gathering-detail' gathering.pk %}" class="a-content-title">{{ gathering.title}}</a>
          <div class="article-infos">
            <p>조회수 {{ gathering.hits }} ㅣ 좋아요 {{ gathering.like_users.count }} ㅣ 댓글
              {{ gathering.gatheringcomments.count }}</p>
          </div> <!-- article-infos -->
        </div> <!-- contents-list -->
        <hr class="hrs">
        {% endfor %}
      </div>

      {% if not articles and not frees and not gatherings %}
      <p class="no-comment">작성한 글이 없습니다.</p>
      {% endif %}
    </div>
    <div id="tab-3" class="tab-content">
      <div class="dropdown">
        <select class="down1 form-select">
          <option value="4">
            전체 댓글
          </option>
          <option value="5">
            질문 댓글
          </option>
          <option value="6">
            자유 댓글
          </option>
          <option value="7">
            모임 댓글
          </option>
        </select>
      </div>
      <!-- dropdown -->
      <!-- 질문게시판 댓글 -->
      <hr class="hrs">

      <div id="my-articles-comment" class="option-active">
        {% for comment in comments1 %}
        {% if request.user.pk == comment.user_id %}
        <p class="comment-content">
          <a href="{% url 'articles:detail' comment.articles_id %}">{{comment.content}}</a>
        </p>
        <hr class="hrs">

        {% else %}
        {% if not comment.unname %}
        <p class="comment-content">
          <a href="{% url 'articles:detail' comment.articles_id %}">{{comment.content}}</a>
        </p>
        <hr class="hrs">
        {% endif %}
        <!-- % if not comment.unname % -->
        {% endif %}
        <!-- % if request.user.pk == comment.user_id % -->
        {% endfor %}
        <!-- % for comment in comments1 % -->
      </div>

      <!-- 자유게시판 댓글 -->
      <div id="my-frees-comment" class="option-active">
        {% for comment in comments2 %}
        {% if request.user.pk == comment.user_id %}
        <p class="comment-content">
          <a href="{% url 'free:detail' comment.free_id %}">{{comment.content}}</a>
        </p>
        <hr class="hrs">
        {% else %}
        {% if not comment.unname %}
        <p class="comment-content">
          <a href="{% url 'free:detail' comment.free_id %}">{{comment.content}}</a>
        </p>
        <hr class="hrs">
        {% endif %}
        <!-- % if not comment.unname % -->
        {% endif %}
        <!-- % if request.user.pk == comment.user_id % -->
        {% endfor %}
      </div>

      <!-- 모임게시판 댓글 -->
      <div id="my-gatherings-comment" class="option-active">
        {% for comment in comments3 %}
        <p class="comment-content">
          <a href="{% url 'gathering:gathering-detail' comment.gathering_id %}">{{comment.content}}</a>
        </p>
        <hr class="hrs">
        {% endfor %}
      </div>
      <!-- % for comment in comments2 % -->
      {% if not comments1 and not comments2 and not comments3 %}
      <p class="no-comment">작성한 댓글이 없습니다.</p>
      {% endif %}
      <!-- % if comments1 and comments2 % -->
    </div>
    <!-- tab-3 -->
  </div>
  <!-- right -->
</div>
<!-- detail-container -->
{% endblock content %}

{% block js %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="{% static 'accounts/js/detail.js' %}"></script>
<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
  new Snowflakes();
</script>
{% endblock js %}