{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/edit_profile.css' %}">
{% endblock css %}

{% block content %}
<div class="edit-container">
  <p class="edit-title">회원 정보 수정</p>

  <div class="edit-form">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="edit-button" type="submit" value="수정">
    </form>
  </div>
</div>
{% endblock content %}