{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/edit_profile.css' %}">
{% endblock css %}

{% block content %}
<div class="edit-container">
  <p class="title">EDIT</p>

  <div class="edit-form">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="buttons">
        <input class="edit-button" type="submit" value="수정">
        <button type="button" class="back-button"
          onclick="location.href='{% url 'accounts:detail' user.pk %}'">취소</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}