{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock css %}

{% block content %}
<div class="login-container">
  <p class="login-title">로그인</p>

  <div class="login-form">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <p class="go-signup">
        <a href="{% url 'accounts:signup' %}">회원이 아니신가요?</a>
      </p>
      <input class="login-button" type="submit" value="로그인">
    </form>
  </div>
</div>
{% endblock content %}