{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
{% endblock css %}

{% block content %}
<div class="signup-container">
  <p class="signup-title">회원가입</p>

  <div class="signup-form">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <p class="go-login">
        <a href="{% url 'accounts:login' %}">이미 회원이신가요?</a>
      </p>
      <input class="signup-button" type="submit" value="가입하기">
    </form>
  </div>
</div>
{% endblock content %}