{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'articles/css/create.css' %}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
{% endblock css %}


{% block content %}
<div class="create-container">
  <p class="title">
    <a href="{% url 'articles:index' %}">QUESTION BOARD</a><br><span class="state-change">CREATE</span>
  </p>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <div class="mt-2">{{ form.title }}</div>
    <div class="mt-2">{{ form.category }}</div>
    <div class="mt-2">{{ form.content }}</div>
    <div class="id_unname">
    <span>익명선택 </span>
      &nbsp;{{form.unname}}
    </div>
    
      <!-- <div class="buttons">
          <button type="submit" class="submit-button">작성</button>
          <a href="{% url 'articles:index' %}" class="back-button">취소</a>   
      </div> -->
      <div class="container text-center">
        <div class="row">
      <div class="buttons">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <button type="submit" class="btn submit-button" id="submit_btn">작성</button>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <button id="cancel_btn"><a href="{% url 'articles:index' %}" class="btn cancel_btn" >취소</a></button>
          </div>
        </div>  
        </div>
      </div>
    
  </form>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}