{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}



{% block content %}
  <h1>질문게시판 글쓰기</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    {% comment %} {% bootstrap_form form %}
    {% bootstrap_form photo_form %} {% endcomment %}
    <button type="submit" class="btn btn-dark">제출</button>
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">[back]</a>
{% endblock content %}

{% block js %}
  <script src="{% static 'articles/js/detail.js' %}"></script>
{% endblock js %}
