{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'articles/css/create.css' %}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
{% endblock css %}


{% block content %}
<div class="create-container">
  <p class="title">QEUSTION BOARD<br><span class="state-change">CREATE</span></p>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <div class="buttons">
      <button type="submit" class="submit-button">작성</button> 
      <a href="{% url 'articles:index' %}" class="back-button">취소</a>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}