{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block content %}
<div class= "container">
조회수:{{ articles.hits }}
{% if articles.unname %}
  익명{{articles.user.pk}}
  {{articles.title}}
  {{articles.category}}
  <!-- 작성일자 -->
    {% if not articles.updated_at %}
    <p class="date">{{articles.create_at}}</p>
    <!-- 글이 수정될 경우 (수정됨)이 붙음 -->
    {% else %}
    <p class="edited">{{articles.create_at}}(수정됨)</p>
    {% endif %}
  <div id="content"><textarea>{{ articles.content }}</textarea></div>
  
{% else %}
  
    <a href={% url 'accounts:detail' articles.user.pk %}>{{articles.user.nickname}}</a>
    {{articles.title}}
    {{articles.category}}
    <!-- 작성일자 -->
      {% if not articles.check %}
      <p class="date">{{articles.create_at}}</p>
      <!-- 글이 수정될 경우 (수정됨)이 붙음 -->
      {% else %}
      <p class="edited">{{articles.updated_at}}(수정됨)</p>
      {% endif %}
    <div id="content"><textarea>{{ articles.content }}</textarea></div>
  
  {% endif %}

  {% comment %} {% if photos %}
    {% for photo in photos %}
      <img src="{{ photo.image.url }}">
    {% endfor %}
  {% endif %} {% endcomment %}
  <!-- 수정 / 삭제 -->
  {% if request.user == articles.user %}
    <div class="d-flex justify-content-end">
      <a href="{% url 'articles:update' articles.pk %}" class="btn btn-primary">수정</a>
      <form class="m-0" action="{% url 'articles:delete' articles.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
    </div>
  {% endif %}


  <!-- 좋아요 -->
  {% if request.user.is_authenticated %}
    <div class="heart">
      {% if request.user not in articles.like_users.all %}
        <i data-like-id="{{ articles.pk }}" id="like-btn" class="bi bi-heart article-heart"></i>
      {% else %}
        <i data-like-id="{{ articles.pk }}" id="like-btn" class="bi bi-heart-fill article-heart-fill"></i>
      {% endif %}
      <p id="likes">{{ articles.like_users.count }}</p>
    </div>
  {% endif %}


  <!-- 댓글 -->
  <section class="comment-box">
    {% if request.user.is_authenticated %}
      <form id="comment-form" data-articles-id="{{ articles.pk }}" action="{% url 'articles:comment_create' articles.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input class="btn btn-success" type="submit" value="제출">
      </form>
    {% endif %}
    <div id="comments">
      {% for comment in comments %}
        <div class="comment">
          {% if not comment.unname %}
            <h4>{{comment.user}}
              -
              {{ comment.content }}</h4>
          {% else %}
            <h4>익명{{comment.user.pk}}
              -
              {{ comment.content }}</h4>
          {% endif %}
          <div>
            {% if request.user.pk == comment.user.pk %}
              <div>
                <div id="form-comment-update-{{ comment.pk }}" style="display:none;">
                  <input id="input-{{ comment.pk }}" type="text" value="{{ comment.content }}" style="width: 95%;">
                  <button onclick="ok_function(this)" id="okBtn-{{ comment.pk }}" data-articlesup-id="{{ articles.pk }}" data-commentup-id="{{ comment.pk }}">수정</button>
                </div>
                <div id='form-recomment-create-{{ comment.pk }}' style='display:none;'>
                  <form id="recomment-form-{{ comment.pk }}" data-articlesrec-id="{{ articles.pk }}">
                    <div class="mb-3">
                      <label class="form-label" for="id_body">답글</label>
                      <textarea name="body" cols="40" rows="1" class="form-control" maxlength="200" placeholder="답글 작성" required="" id="id_body"></textarea>
                    </div>
                      <div class="mb-3">
                        <div class="form-check">
                          <input type="checkbox" name="unname" class="form-check-input" id="id_unname">
                          <label class="form-check-label" for="id_unname">익명선택</label>
                        </div>
                      </div>
                  </form>
                  <button onclick="answer(this)" id="answer-{{ comment.pk }}" data-articlesrec-id="{{ articles.pk }}" data-commentrec-id="{{ comment.pk }}">답글등록</button>
                </div>
                <button onclick="update_comment(this)" id="comment-update-{{ comment.pk }}" data-articlesup-id="{{ articles.pk }}" data-commentup-id="{{ comment.pk }}">수정</button>
                <button onclick="delete_comment(this)" id="comment-delete-{{ comment.pk }}" data-articlesdel-id="{{ articles.pk }}" data-commentdel-id="{{ comment.pk }}">삭제</button>
                <button  onclick="recomment_create_comment(this) "id='recomment-create-{{ comment.pk }}' data-articlesrec-id="{{ articles.pk }}" data-recommentcre-id="{{ comment.pk }}">답글</button>
              </div>
            {% else %}
            <div>
              <div id='form-recomment-create-{{ comment.pk }}' style='display:none;'>
                <form id="recomment-form-{{ comment.pk }}" data-articlesrec-id="{{ articles.pk }}">
                  {% bootstrap_form recomment_form %}
                </form>
                <button onclick="answer(this)" id="answer-{{ comment.pk }}" data-articlesrec-id="{{ articles.pk }}" data-commentrec-id="{{ comment.pk }}">답글등록</button>
              </div>
              <button  onclick="recomment_create_comment(this)" id='recomment-create-{{ comment.pk }}' data-articlesrec-id="{{ articles.pk }}" data-recommentcre-id="{{ comment.pk }}">답글</button>
            </div>
            {% endif %}
            {% for recom in comment.article_comment_user.all %}
              {% if not recom.unname %}
                <br>->{{ recom.user }}:{{ recom.body }}
              {% else %}
                익명->{{ recom.user.pk}}:{{ recom.body }}
              {% endif %}
            {% if user == recom.user %}
              <a data-articlesrdel-id="{{ articles.pk }}" href="{% url 'articles:recomment_delete' articles.pk comment.pk recom.pk %}" style="color: #f77">삭제</a>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}

{% block js %}

<script src="{% static 'js/mde/js/jquery.min.js' %}"></script>
<script src="{% static 'js/mde/js/lib/marked.min.js' %}"></script>
<script src="{% static 'js/mde/js/editormd.min.js' %}"></script>
<script src="{% static 'js/mde/js/lib/prettify.min.js' %}"></script>
<script src="{% static 'js/mde/js/lib/raphael.min.js' %}"></script>
<script src="{% static 'js/mde/js/lib/underscore.min.js' %}"></script>
<script src="{% static 'js/mde/js/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'js/mde/js/lib/flowchart.min.js' %}"></script>
<script src="{% static 'js/mde/js/lib/jquery.flowchart.min.js' %}"></script>
<script>
  $(function () {
      // js markdown
      editormd.markdownToHTML("content", {
          emoji           : true,
          taskList        : true,
          tex             : true,  
          flowChart       : true,  
          sequenceDiagram : true,
      });
      
      $(".reference-link").each(function (i,obj) {
       
      })
  })
</script>
<script>
  const recomment_create_comment = (e) => {
    const recomment_id = document.querySelector(`#${e.id}`).id
    const comment = document.querySelector('#comment')
    const new_recomment_create = document.querySelector(`#form-${e.id}`)
    console.log(new_recomment_create, 88)
    const comment_update = document.querySelector(`#${e.id}`)
    new_recomment_create.style.display = "block"
    comment_update.style.display = "none"
  }
  const answer = (e) => {
    const commentId = event.target.dataset.commentrecId
    console.log(commentId, 15)
    const reviewId = event.target.dataset.articlesrecId
    const recommentForm = document.querySelector(`#recomment-form-${commentId}`)
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    axios({
      method: 'post',
      url: `/articles/${event.target.dataset.articlesrecId}/recomment_create/${event.target.dataset.commentrecId}/`,
      headers: {
        'X-CSRFToken': csrftoken
      },
      data: new FormData(recommentForm)
    }).then(response => {
      console.log(response)
      const comments = document.querySelector('#comments')
      comments.textContent = "";
      const hr = document.createElement('hr')
      const comment_data = response.data.comment_data
      const recomment_data = response.data.recomment_data2
      const user = response.data.user
      for (let i = 0; i < comment_data.length; i++) {
        const articles_pk = response.data.articles_pk
        if (user === comment_data[i].id){
          comments.insertAdjacentHTML('beforeend', `
          <div class="comment">
            <h4>${comment_data[i].userName} - ${comment_data[i].content}</h4>
            <button onclick="update_comment(this)" id="comment-update-${comment_data[i].commentPk}" data-articlesup-id="${ articles_pk }" data-commentup-id="${comment_data[i].commentPk}">수정</button>
            <button onclick="delete_comment(this)" id="comment-delete-${comment_data[i].commentPk}" data-articlesdel-id="${ articles_pk }" data-commentdel-id="${comment_data[i].commentPk}">삭제</button>
            <button  onclick="recomment_create_comment(this)" id='recomment-create-${comment_data[i].commentPk}' data-articlesrec-id="${ articles_pk }" data-recommentcre-id="${comment_data[i].commentPk}">답글</button>
            <div id="re-${comment_data[i].commentPk}">
            </div>
            <div>
              <div>
                <div id="form-comment-update-${comment_data[i].commentPk}" style="display:none;">
                  <input id="input-${comment_data[i].commentPk}" type="text" value="${comment_data[i].content}">
                  <button onclick="ok_function(this)" id="okBtn-${comment_data[i].commentPk}" data-articlesup-id="${ articles_pk }" data-commentup-id="${comment_data[i].commentPk}">확인</button>
                </div>
                <div id='form-recomment-create-${comment_data[i].commentPk}' style='display:none;'>
                  <form id="recomment-form-${comment_data[i].commentPk}" data-articlesrec-id="${ articles_pk }">
                    <div class="mb-3">
                      <label class="form-label" for="id_body">답글</label>
                      <textarea name="body" cols="40" rows="1" class="form-control" maxlength="200" placeholder="답글 작성" required="" id="id_body"></textarea>
                    </div>
                      <div class="mb-3">
                        <div class="form-check">
                          <input type="checkbox" name="unname" class="form-check-input" id="id_unname">
                          <label class="form-check-label" for="id_unname">익명선택</label>
                        </div>
                      </div>
                  </form>
                  <button onclick="answer(this)" id="answer-${comment_data[i].commentPk}" data-articlesrec-id="${ articles_pk }" data-commentrec-id="${comment_data[i].commentPk}">답글등록</button>
                </div>
              </div>
            </div>
          </div>
              `);
            } else {
              comments.insertAdjacentHTML('beforeend', `
                <div class="comment">
                  <h4>${comment_data[i].userName} - ${comment_data[i].content}</h4>
                  <div id="re-${comment_data[i].commentPk}">
                  </div>
                </div>
                <div id='form-recomment-create-${comment_data[i].commentPk}' style='display:none;'>
                  <form id="recomment-form-${comment_data[i].commentPk}" data-articlesrec-id="${ articles_pk }">
                    <div class="mb-3">
                      <label class="form-label" for="id_body">답글</label>
                      <textarea name="body" cols="40" rows="1" class="form-control" maxlength="200" placeholder="답글 작성" required="" id="id_body"></textarea>
                    </div>
                      <div class="mb-3">
                        <div class="form-check">
                          <input type="checkbox" name="unname" class="form-check-input" id="id_unname">
                          <label class="form-check-label" for="id_unname">익명선택</label>
                        </div>
                      </div>
                  </form>
                  <button onclick="answer(this)" id="answer-${comment_data[i].commentPk}" data-articlesrec-id="${ articles_pk }" data-commentrec-id="${comment_data[i].commentPk}">답글등록</button>
                </div>
              <button  onclick="recomment_create_comment(this)" id='recomment-create-${comment_data[i].commentPk}' data-articlesrec-id="${ articles_pk }" data-recommentcre-id="${comment_data[i].commentPk}">답글</button>
              `);
            }
          }
        for(let j = 0; j < recomment_data.length; j++){
          const re = document.querySelector(`#re-${recomment_data[j].commentPk}`)
          re.insertAdjacentHTML('beforeend', `<p>${recomment_data[j].userName} - ${recomment_data[j].content}</p>`)
        }
      commentForm.reset()
      }
    )
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'articles/js/detail.js' %}"></script>

{% endblock js %}