{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'articles/css/index.css' %}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
{% endblock css %}

{% block content %}
<div class="index-container">
  <div class="title-div">
    <p class="title">QUESTION BOARD</p>
    <button type="button" class="create-button" onclick="location.href='{% url 'articles:create' %}'">글쓰기</button>
  </div>
  <div class="article-list">
    {% for article in question_list %}
    {% if article.unname %}
    <a href="{% url 'articles:detail' article.pk%}">
      <div class="user-date">
        <p class="user">익명{{ article.user.pk }}</p>
        <!-- 작성일자 -->
        {% if not article.check %}
        <p class="date">{{article.create_at}}</p>
        <!-- 글이 수정될 경우 (수정됨)이 붙음 -->
        {% else %}
        <p class="edited">{{article.updated_at}}(수정됨)</p>
        {% endif %}
      </div>
      <p class="article-title">{{ article.title }}</p>
      <div class="like-views">
        <p class="like"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077086.png" alt="좋아요 아이콘">
          {{ article.like_users.count }}</p>
        <p class="views"><img src="https://cdn-icons-png.flaticon.com/512/159/159604.png" class="views-icon"
            alt="조회수 아이콘">
          {{ article.hits }}</p>
      </div>
    </a>
    {% else %}
    <a href="{% url 'articles:detail' article.pk%}">
      <div class="user-date">
        <p class="user">{{ article.user.nickname }}</p>
        <!-- 작성일자 -->
      {% if not article.check  %}
      <p class="date">{{article.create_at}}</p>
      <!-- 글이 수정될 경우 (수정됨)이 붙음 -->
      {% else %}
      <p class="edited">{{article.updated_at}}(수정됨)</p>
      {% endif %}
      </div>
      <p class="article-title">{{ article.title }}</p>
      <div class="like-views">
        <p class="like"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077086.png" alt="좋아요 아이콘">
          {{ article.like_users.count }}</p>
        <p class="views"><img src="https://cdn-icons-png.flaticon.com/512/159/159604.png" class="views-icon"
            alt="조회수 아이콘">
          {{ article.hits }}</p>
      </div>
    </a>
    {% endif %}
    <hr>
    {% endfor %}
  </div> <!-- article-list -->
</div> <!-- index-container -->

<!-- search -->
<form class="d-flex search" role="search" action="{% url 'articles:search' %}" >
  <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search">
  <button class="btn " type="submit" style="color: #0b2f7d;">Search</button>
</form>
<!-- 페이지네이션 -->
<ul class="pagination justify-content-center">
  <!-- 이전페이지 -->
  {% if question_list.has_previous %}
  <li class="page-item">
      <a class="page-link text-black" href="?page={{ question_list.previous_page_number }}">이전</a>
  </li>
  {% else %}
  <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
  </li>
  {% endif %}
  <!-- 페이지리스트 -->
  {% for page_number in question_list.paginator.page_range %}
  {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
  {% if page_number == question_list.number %}
  <li class="page-item active" aria-current="page">
      <a class="page-link text-bg-dark border-secondary" href="?page={{ page_number }}">{{ page_number }}</a>
  </li>
  {% else %}
  <li class="page-item">
      <a class="page-link text-secondary" href="?page={{ page_number }}">{{ page_number }}</a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
  <!-- 다음페이지 -->
  {% if question_list.has_next %}
  <li class="page-item">
      <a class="page-link text-secondary" href="?page={{ question_list.next_page_number }}">다음</a>
  </li>
  {% else %}
  <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
  </li>
  {% endif %}
</ul>
{% endblock %}

