@charset "UTF-8";

/* 너비 설정 */
.detail-container {
    margin-left: 5rem; 
    margin-right: 5rem;
    /* width: 60%; */
    min-height: 50vh; 
}

/* 제목 */
.title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* 제목 아래 글자 위치 조절 */
.sub-title {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 1rem;
}

/* 유저(익명), 날짜 위치 조절 */
.user-date {
  display: flex;
  align-items: flex-end;
}
/* 유저(익명) */
.user {
  color: #0b2f7d;
  font-weight: 700;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
}


/* 날짜 */
.date {
  color: #505050;
  font-size: 0.9rem;
  margin-right: 0.3rem;
  margin-bottom: 0;
}


/* (수정됨) */
.edited {
  color: #505050;
  font-size: 0.9rem;
  margin: 0;
  margin-right: 1rem;
}

/* 조회수 */
.views {
  color: #505050;
  font-size: 0.9rem;
  margin: 0;
}

.views-icon {
  height: 0.9rem;
  opacity: 0.3;
  width: 0.8rem;
  
}


/* 수정/삭제 버튼 위치 조절 */
.buttons {
  align-items: flex-end;
  display: flex;
}


/* 수정 버튼 */
.edit-button {
  background-color: transparent;
  border: 0;
  color: #71adb9b3;
  font-size: 0.9rem;
  margin-left: 3rem;
  margin-right: 1rem;
  text-decoration: none;
}

.edit-button:hover {
  background-color: transparent;
  border: 0;
  color: #71adb9b3;
  font-size: 0.9rem;
  font-weight: 700;
  margin-right: 1rem;
  text-decoration: none;
}


/* 삭제 버튼 */
.delete-button {
  background-color: transparent;
  border: 0;
  color: #ee744d;
  font-size: 0.9rem;
  padding: 0;
}

.delete-button:hover {
  background-color: transparent;
  border: 0;
  color: #ee744d;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0;
}

/* 본문 아래 여백 */
.notices-contents {
  margin-bottom: 2rem;
}

/* 바깥 선 생성 */
.notices-container {
  border: 0.5rem solid #0b2f7d;
  border-radius: 2.5rem;
  margin: auto;
  padding-top: 3rem;
  width: 50rem;
}
