@charset "UTF-8";


body {
    background-color: #f6f3e7;  
}


/* 너비 설정 */
.detail-container {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 3rem;
    padding: 2rem 4rem 1.5rem;
    width: 65%;
}

.title-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
}
/* 서치창 글쓰기 버튼 정렬 */
.search-create {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
    margin-top: 1rem;
}

/* 서치창 */
.search-box {
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    display: flex;
    height: 2.3rem;
    margin-right: 1rem;
    padding: 0.13rem 0.6rem;
    width: 17.7rem;
}

.search-btn {
    align-items: center;
    color: #0b2f7d;
    display: flex;
    height: 1.9rem;
}

.search-btn:hover {
    color: #0b2f7d;
}

.search-txt {
    background: transparent;
    border: none;
    line-height: 1.9rem;
    outline: none;
    margin-right: 0.5rem;
    padding: 0;
    width: 90%;
}

/* 효과가 들어간 서치창
.search-box {
    background-color: #0b2f7d;
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    height: 2.3rem;
    margin-right: 1rem;
    padding: 0.13rem 0.5rem;
    transform: translate(0, 0);
    transition: 0.4s;
    width: 3rem;
}

.search-box:hover {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    width: 17.7rem;
}

.search-btn {
    align-items: center;
    color: #ffffff;
    display: flex;
    height: 1.9rem;
    margin-right: 0.4rem;
    justify-content: flex-end;
}

.search-box:hover>.search-btn {
    color: #0b2f7d;
}

.search-txt {
    background: none;
    border: none;
    display: flex;
    float: left;
    font-size: 1rem;
    line-height: 1.9rem;
    outline: none;
    padding: 0;
    transition: .4s;
    width: 0;

.search-box:hover>.search-txt {
    width: 16rem;
    padding: 0 0.4rem;
} */

.search-txt::placeholder {
    font-size: 0.85rem;
}

.search-txt:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100rem #ffffff inset;
    box-shadow: 0 0 0 100rem #ffffff inset;
}
/* 제목 */
.title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
    font-family: 'Bree Serif', serif;
    color: #0b2f7d;
    letter-spacing: 2px;
    text-align: center;
    
}
.thead-text {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Bree Serif', serif;
    text-align: center;
}
.table {
    color: #0b2f7d;
    font-weight: 500;
    text-align: center;
}

tr.hover:hover{
    background-color:#0b2f7d20;
}

.notices-title{
    text-decoration: none;
    color: #434343;
}
 .notices-title:hover{
    font-weight: bold;
    color: #434343;
} 

/* 페이지네이션 */
.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-border-color: none;
    --bs-pagination-color: #434343;
    --bs-pagination-active-bg: transparent;
    --bs-pagination-focus-bg: transparent;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
    --bs-pagination-hover-bg: transparent;
}

.page-item {
    border-radius: 20rem;
    height: 2.25rem;
    margin: 0 0.4rem;
    width: 2.25rem;
}

.page-item:hover {
    font-weight: bold;
}

.active {
    background-color: #0b2f7d;
}

.page-link {
    text-align: center;
    padding: 0.3rem 0.15rem 0.5rem 0.2rem;
}
