{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'notices/css/index.css' %}">
{% endblock css %}

{% block content %}
<div class='search-container'>
  <div class="title-div">
    <p class="title">
      <a href="{% url 'notices:index' %}">NOTICES</a></p>
    {% if user.is_superuser %}
    <a class="text-decoration-none" href="{% url 'notices:create' %}"> ONLY ADMIN</a>
    {% endif %}
  </div>

  <table class="search-table">
    <thead class="thead-text">
      <tr class="thead-tr">
        <th scope="col">No.</th>
        <th scope="col">TITLE</th>
        <th scope="col">EDITOR</th>
        <th scope="col">DATE</th>
        <th scope="col">VIEWS</th>
      </tr>
    </thead>

    <tbody>
      {% for notice in question_list %}
      <tr class="tbody-tr">
        <td scope="row">{{notice.pk}}</td>
        <td class="title-td">
          <a href="{% url 'notices:detail' notice.pk%}" class="search-title">
          {{notice.title}}
          </a>
        </td>
        <td class="nickname-td">@{{notice.user|upper}}</td>
        <td>{{notice.create_at|date:'Y.m.d'}}</td>
        <td>{{ notice.hits }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <br>
  <br>
  
    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if question_list.has_previous %}
      <li class="page-item">
        <a class="page-link " href="?page={{ question_list.previous_page_number }}">〈</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">〈</a>
      </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in question_list.paginator.page_range %}
      {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5  %}
      {% if page_number == question_list.number %}
      <li class="page-item active" aria-current="page">
        <a class="page-link " href="?page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% else %} 
      <li class="page-item">
        <a class="page-link " href="?page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% endif %}
      {% endif %} 
      {% endfor %}
      <!-- 다음페이지 -->
      {% if question_list.has_next %}
      <li class="page-item">
        <a class="page-link " href="?page={{ question_list.next_page_number }}">〉</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">〉</a>
      </li>
      {% endif %}
    </ul> <!-- pagination -->
</div>


</div>
{% endblock  %}