@charset "UTF-8";

/* 너비 설정 */
.detail-container {
    margin: auto;
    margin-bottom: 10rem;
    padding: 1.5rem 4rem 4.5rem;
    width: 60%;
}


/*카테고리 제목 */
.title {
    color: #0b2f7d;
    font-family: 'Bree Serif', serif;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 4rem;
    text-align: center;
}


/* 제목 */
.free-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


/* 제목 아래 글자 위치 조절 */
.sub-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}


/* 유저(익명), 날짜 위치 조절 */
.user-date {
    align-items: flex-end;
    display: flex;
}


/* 유저(익명) */
.user {
    color: #0b2f7d;
    font-weight: 700;
    margin-right: 1rem;
    margin-bottom: 0;
}


/* 날짜 */
.date {
    color: #b8b8b8;
    font-size: 0.9rem;
    margin-right: 0.3rem;
    margin-bottom: 0;
}


/* (수정됨) */
.edited {
    color: #b8b8b8;
    font-size: 0.9rem;
    margin: 0;
    margin-right: 1rem;
}

/* 조회수 */
.views {
    color: #b8b8b8;
    font-size: 0.9rem;
    margin: 0;
}

.views-icon {
    height: 0.9rem;
    opacity: 0.3;
    width: 0.8rem;
}


/* 수정/삭제 버튼 위치 조절 */
.buttons {
    align-items: flex-end;
    display: flex;
}


/* 수정 버튼 */
.edit-button {
    background-color: transparent;
    border: 0;
    color: #998b7a;
    font-size: 0.9rem;
    margin-right: 1.5rem;
    padding: 0;
    text-decoration: none;
}

.edit-button:hover {
    background-color: transparent;
    border: 0;
    color: #998b7a;
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 1.5rem;
    padding: 0;
    text-decoration: none;
}


/* 삭제 버튼 */
.delete-button {
    background-color: transparent;
    border: 0;
    color: #ee744d;
    font-size: 0.9rem;
    padding: 0;
}

.delete-button:hover {
    background-color: transparent;
    border: 0;
    color: #ee744d;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0;
}


/* 본문 아래 여백 */
.free-contents {
    margin: 2.5rem 0 4rem;
}


/* 본문에 삽입되는 사진 크기 */
.free-contents img {
    margin-bottom: 0.5rem;
    width: 100%;
}


/* 나중에 태그 정리해야 됨 */
/* 좋아요 숫자 */
.heart {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}


/* 좋아요 색 */
.free-heart,
.free-heart-fill {
    filter: invert(52%) sepia(92%) saturate(834%) hue-rotate(329deg) brightness(98%) contrast(91%);
    margin-right: 0.5rem;
}

.heart p {
    margin: 0;
}


/* 댓글 작성 폼 */
#comment-form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3rem;
}

.mb-3 {
    margin: 0;
    width: 88%;
}

.form-control {
    height: 7rem;
}

.form-control:focus {
    border-color: #0b2f7d;
    box-shadow: 0 0 0 0;
    color: #434343;
    outline: 0;
}

.form-control::placeholder {
    color: #888888;
    font-size: 0.85rem;
    padding-top: 1.8rem;
}

.form-control::-webkit-scrollbar {
    background-color: #0b2f7d33;
}

.form-control::-webkit-scrollbar-thumb {
    background-color: #0b2f7d;
}

.form-control::-webkit-scrollbar-track {
    background-color: #0b2f7d33;
}

.form-control::-webkit-scrollbar-corner {
    background-color: #0b2f7d33;
}


/*댓글 작성 버튼 */
.submit-button {
    background-color: #0b2f7d;
    border: 0;
    border-radius: 0.5rem;
    color: #ffffff;
    display: block;
    height: 3.5rem;
    padding: 0;
    width: 10%;
}


/* 댓글 수와 댓글 가름 */
.comment-start {
    margin: -0.3rem 0 2rem;
}


/* 댓글 사이 가름 */
.comment-divider {
    margin: 2rem 0;
}


/* 등록된 댓글이 없을 경우 출력되는 문자 */
.no-comment {
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-top: 3rem;
    text-align: center;
}


/* 유저(익명) */
.comment-user {
    font-weight: 600;
    margin-right: 1rem;
    margin-bottom: 0;
}


/* 수정/삭제 버튼 위치 조절 */
.comment-buttons {
    display: flex;
    font-size: 0.9rem;
    height: 1rem;
}


/* 수정 후 확인 버튼 */
.update-button {
    background-color: transparent;
    border: 0;
    color: #998b7a;
    font-size: 0.9rem;
    left: 10.6rem;
    margin-right: 1.5rem;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.update-button:hover {
    background-color: transparent;
    border: 0;
    color: #998b7a;
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 1.5rem;
    padding: 0;
    text-decoration: none;
}


/* 수정창 */
.comment-update {
    border: 0.1rem solid #ced4da;
    border-radius: 0.3rem;
    top: 0.4rem;
    position: relative;
    right: 1.2rem;
    width: 100%;
}

.comment-update:focus {
    border-color: #0b2f7d;
    box-shadow: 0 0 0 0;
    color: #434343;
    outline: 0;
}


/* 댓글 유저(익명) 아래 글자 위치 조절 */
.comment-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}