@charset "UTF-8";

/* 너비 설정 */
.search-container {
  margin: auto;
  width: 60%;
}
/* 제목 */
.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  font-family: 'Bree Serif', serif;
  color: #0b2f7d;
  letter-spacing: 2px;
}
.thead-text {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Bree Serif', serif;
  text-align: center;
  
}
.table {
  color: #0b2f7d;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}

.search-title{
  text-decoration: none;
  font-weight: 500;
  color: #434343;
}
.search-title:hover{
  font-weight: bold;
  color: #434343;
}

.like-views {
  align-items: center;
  color: #777777;
  display: flex;
  font-size: 0.85rem;
  justify-content: center;
}

.like-views img {
  height: 0.8rem;
  margin-right: 0.1rem;
  opacity: 0.4;
  width: 0.8rem;
}

.like {
  margin-right: 0.7rem;
}
.like,
.views {
    margin: 5px;
}
.search{
  margin-bottom: 3rem;
}