@charset "UTF-8";

/* 너비 설정 */
.search-container {
  background-color: #ffffff;
  border: 0.1rem solid #0b2f7d;
  border-radius: 2.5rem;
  margin: auto;
  margin-bottom: 10rem;
  padding: 1.5rem 4rem 4.5rem;
  width: 65%;}
/* 제목 */
.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  font-family: 'Calistoga';
  color: #0b2f7d;
  letter-spacing: 2px;
  text-align: center;
}
.thead-text {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Calistoga';
  text-align: center;
  
}
.table {
  color: #0b2f7d;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}

.search-title{
  text-decoration: none;
  font-weight: 500;
  color: #434343;
}
.search-title:hover{
  font-weight: bold;
  color: #434343;
}

.like-views {
  align-items: center;
  color: #777777;
  display: flex;
  font-size: 0.85rem;
  justify-content: center;
}

.like-views img {
  height: 0.8rem;
  margin-right: 0.1rem;
  opacity: 0.4;
  width: 0.8rem;
}

.like {
  margin-right: 0.7rem;
}
.like,
.views {
    margin: 5px;
}
/* 페이지네이션 */
.pagination {
  --bs-pagination-bg: transparent;
  --bs-pagination-border-color: none;
  --bs-pagination-color: #434343;
  --bs-pagination-active-bg: transparent;
  --bs-pagination-focus-bg: transparent;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
  --bs-pagination-hover-bg: transparent;
}

.page-item {
  border-radius: 20rem;
  height: 2.25rem;
  margin: 0 0.4rem;
  width: 2.25rem;
}

.page-item:hover {
  font-weight: bold;
}

.active {
  background-color: #0b2f7d;
}

.page-link {
  text-align: center;
  padding: 0.3rem 0.15rem 0.5rem 0.2rem;
}