@charset "UTF-8";

/* 너비 설정 */

.index-container {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 1.5rem 4rem 4.5rem;
    width: 65%;
}

.title-div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
}
/* 제목 */
.title {
    color: #0b2f7d;
    font-family: 'Calistoga', 'NEXON Lv2 Gothic';
    font-size: 2.4rem;
    margin: 0 20rem;
    font-weight: 800;
    text-align: center;
}


/* 글쓰기 버튼 */
.create-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #0b2f7d;
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    display: block;
    margin: 2.4rem 0 2.4rem;
    max-width: 8rem;
    padding: 0.6rem 2rem;
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.create-button {
    box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 0 inset;
    color: #ffffff;
    font-weight: 500;
}

.create-button:hover {
    border: 0.1rem solid #0b2f7d;
    box-shadow: #ffffff 0 0px 0px 40px inset;
    color: #0b2f7d;
    font-weight: 500;
}


/* 링크 */
tr {
    cursor: pointer;
}


/* 목록 글자 효과 제거 */
.free-list a {
    color: #434343;
    text-decoration: none;
}

.user,
.date,
.free-title,
.like,
.views,
.comments {
    margin: 0;
}


/* 목록 */
.user-date {
    color: #777777;
    display: flex;
    font-size: 0.85rem;
}

.user {
    margin-right: 0.5rem;
}

.free-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.like-comments {
    align-items: center;
    color: #777777;
    display: flex;
    font-size: 0.85rem;
}

.like-comments img {
    height: 0.8rem;
    margin-right: 0.1rem;
    opacity: 0.4;
    width: 0.8rem;
}

.like,
.views {
    margin-right: 0.7rem;
}
.search{
    margin: auto;
    padding: 1.5rem 4rem 4.5rem;
    width: 65%;
}