{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock css %}

<div class="footer">
    <div class="footer-container">
        <!-- 푸터에 들어갈 내용 -->
        <!-- 저작권 걸리는 게 존재하면 (C) 지워야 함 -->
        <p class="footer-text">만든 사람
            <span class="bold">
                <a href="https://github.com/HYUNSIK-JI">현식</a>,
                <a href="https://github.com/kleenex1">규탁</a>,
                <a href="https://github.com/baeseorim">서림</a>,
                <a href="https://github.com/YoonDii">윤지</a>,
                <a href="https://github.com/hobin49">호빈</a></span><br>
            K-DIGITAL TRAINING 1기<br>
            (C) Siseon, 2022. All Right Reserved
        </p> <!-- footer-text -->
    </div> <!-- footer-container -->
</div> <!-- footer -->