{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock css %}

{% block content %}

  <div class="search-container">
    <p class="title">TOTAL SEARCH</p>
  {% if question_list %}
  <!-- 검색 결과 안내 -->
  <p class="search-result">'<span class="search-for">{{ search }}</span>' 에 대한 검색결과 입니다.</p>

  <!-- 검색 결과 목록 -->
  <table class="search-table">
    <thead class="thead-text">
      <tr class="thead-tr">
        <th scope="col">NO.</th>
        <th scope="col">TITLE</th>
        <th scope="col">EDITOR</th>
        <th scope="col">DATE</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">VIEWS</th>
        <th scope="col">LIKE</th>
      </tr>
    </thead>
    <tbody>
      {% for all in question_list %}
      <tr class="tbody-tr">
        {% if all.q == "질문" %}
        {% if not all.unname %}
        <th scope="row">{{all.q}}</th>
        <td class="title-td"><a href="{% url 'articles:detail' all.pk %}" class="search-title">{{all.title}}<span class="comments">[{{ all.comment_user.count }}]</span></a></td>
        <td class="nickname-td">{{all.user.nickname}}</td>
        <td>{{all.create_at|date:'Y.m.d'}}</td>
        <td>{{all.category}}</td>
        <td>{{ all.hits }}</td>
        <td>{{ all.like_users.count }}</td>
        {% endif %}
      </tr>
      <tr>
      {% elif all.q == "자유" %}
        <th scope="row">{{all.q}}</th>
        <td class="title-td"><a href="{% url 'free:detail' all.pk %}" class="search-title">{{all.title}}<span class="comments">[{{ all.free_user.count }}]</span></a></td>
        <td class="nickname-td">익명</td>
        <td>{{all.create_at|date:'Y.m.d'}}</td>
        <td>{{all.category}}</td>
        <td>{{ all.hits }}</td>
        <td>{{ all.like_free.count }}</td>
      </tr>
      <tr>
      {% elif all.q == "모임" %}
        <th scope="row">{{all.q}}</th>
        <td class="title-td"><a href="{% url 'gathering:gathering-detail' all.pk %}" class="search-title">{{all.title}}<span class="comments">[{{ all.gatheringcomments.count }}]</span></a></td>
        <td>{{all.user.nickname}}</td>
        <td>{{all.created_at|date:'Y.m.d'}}</td>
        <td>{{all.category}}</td>
        <td>{{ all.hits }}</td>
        <td>{{ all.like_users.count }}</td>
        </tr>
      <tr>
      {% else %}
        <th scope="row">공지</th>
        <td class="title-td"><a href="{% url 'notices:detail' all.pk %}" class="search-title">{{all.title}}</a></td>
        <td>@{{all.user.nickname|upper}}</td>
        <td>{{all.create_at|date:'Y.m.d'}}</td>
        <td>공지</td>
        <td>-</td>
        <td>-</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>
  <ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if question_list.has_previous %}
    <li class="page-item">
      <a class="page-link " href="?search={{search}}&page={{ question_list.previous_page_number }}">〈</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">〈</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in question_list.paginator.page_range %}
    {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5  %}
    {% if page_number == question_list.number %}
    <li class="page-item active" aria-current="page">
      <a class="page-link " href="?search={{search}}&page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %} 
    <li class="page-item">
      <a class="page-link " href="?search={{search}}&page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %} 
    {% endfor %}
    <!-- 다음페이지 -->
    {% if question_list.has_next %}
    <li class="page-item">
      <a class="page-link " href="?search={{search}}&page={{ question_list.next_page_number }}">〉</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">〉</a>
    </li>
    {% endif %}
  </ul> <!-- pagination -->
  {% else %}
    <h3 class="m-0">{{ search }} "검색결과가 없어요"</h3>
  {% endif %}
</div>
{% endblock content%}