{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock css %}

{% block content %}

  <div class="search-container">
    <p class="title">TOTAL SEARCH</p>
  <br>
  <br>
  {% if question_list %}
  <h3 class="text-center" >"{{ search }}" 검색결과 입니다.</h3>
  <br>
  <br>
  <table class="table table-hover">
    <thead class="thead-text">
      <tr>
        <th scope="col">BOARD</th>
        <th scope="col">TITLE</th>
        <th scope="col">EDITER</th>
        <th scope="col">DATE</th>
        <th scope="col">CATEGORY</th>
      </tr>
    </thead>
    <tbody>
      {% for all in question_list %}
      <tr>
        {% if all.q == "질문" %}
        {% if not all.unname %}
        <th scope="row">{{all.q}}</th>
        <td><a href="{% url 'articles:detail' all.pk %}" class="search-title">{{all.title}}</a></td>
        <td>{{all.user.nickname}}</td>
        <td>{{all.create_at|date:'Y.m.d'}}</td>
        <td>{{all.category}}</td>
        {% endif %}
      </tr>
      <tr>
      {% elif all.q == "자유" %}
        <th scope="row">{{all.q}}</th>
        <td><a href="{% url 'free:detail' all.pk %}" class="search-title">{{all.title}}</a></td>
        <td>{{all.unname}}</td>
        <td>{{all.create_at|date:'Y.m.d'}}</td>
        <td>{{all.category}}</td>
      </tr>
      <tr>
      {% elif all.q == "모임" %}
        <th scope="row">{{all.q}}</th>
        <td><a href="{% url 'gathering:gathering-detail' all.pk %}" class="search-title">{{all.title}}</a></td>
        <td>{{all.user}}</td>
        <td>{{all.created_at|date:'Y.m.d'}}</td>
        <td>{{all.category}}</td>
        </tr>
      <tr>
      {% else %}
        <th scope="row">공지</th>
        <td><a href="{% url 'notices:detail' all.pk %}" class="search-title">{{all.title}}</a></td>
        <td>@{{all.user.nickname|upper}}</td>
        <td>{{all.create_at|date:'Y.m.d'}}</td>
        <td>공지</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>
  <ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if question_list.has_previous %}
    <li class="page-item">
      <a class="page-link " href="?page={{ question_list.previous_page_number }}">〈</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">〈</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in question_list.paginator.page_range %}
    {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5  %}
    {% if page_number == question_list.number %}
    <li class="page-item active" aria-current="page">
      <a class="page-link " href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %} 
    <li class="page-item">
      <a class="page-link " href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %} 
    {% endfor %}
    <!-- 다음페이지 -->
    {% if question_list.has_next %}
    <li class="page-item">
      <a class="page-link " href="?page={{ question_list.next_page_number }}">〉</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">〉</a>
    </li>
    {% endif %}
  </ul> <!-- pagination -->
  {% else %}
    <h3 class="m-0">"{{ search }}" 검색결과가 없어요</h3>
  {% endif %}
</div>
{% endblock content%}
