@charset "UTF-8";

/* 너비 설정 */
.detail-container {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 2.5rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 4.5rem 4rem;
    width: 30rem;
}


/*카테고리 제목 */
.title {
    color: #0b2f7d;
    font-family: 'Calistoga', 'NEXON Lv2 Gothic';
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 4rem;
    text-align: center;
}

.title a {
    color: #0b2f7d;
    text-decoration: none;
}

.title a:hover {
    text-decoration: none;
}


/* 제목 */
.calendar-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}


/* 날짜 */
.date {
    color: #b8b8b8;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}


/* (수정됨) */
.edited {
    color: #b8b8b8;
    font-size: 0.9rem;
    margin: 0;
    margin-right: 1rem;
}


/* 본문 아래 여백 */
.calendar-contents {
    margin: 2.5rem 0 4rem;
}