{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'calendars/css/styles.css' %}">
{% endblock css%}
{% block content %}
<div class="clearfix">
  <a class="btn right" style="color:#0b2f7d;" href="{% url 'calendars:index' %}?{{ next_month }}"> 다음 달 </a>
	<a class="btn left" style="color:#0b2f7d;" href="{% url 'calendars:index' %}?{{ prev_month }}"> 이전 달 </a>
  {% if user.is_superuser %}
	<a class="btn right" style="color:#0b2f7d;" href="{% url 'calendars:event_new' %}"> 일정 등록하기 </a>
  {% endif %}
</div>
  <div class='d-flex flex-column-reverse '>
    {{ calendar }}
  </div>
</div>

{% endblock content %}


{% block js%}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

{% endblock js %}