{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'calendars/css/detail.css' %}">
{% endblock css %}

{% block content %}
<div class="detail-container">
  <!-- 달력 -->
  <p class="title"><a href="{% url 'calendars:index' %}">CALENDAR</a></p>

  <!-- 글 상단 정보 -->
  <p class="calendar-title">{{ event.title }}</p>
  <p class="date">{{ event.start_time }}부터 {{ event.end_time }}까지</p>

  <!-- 글 내용 -->
  <div class="calendar-contents">{{ event.description|linebreaksbr }}</div>

  <!-- 수정/삭제 버튼 admin only -->
  {% if user.is_superuser %}
  <div class="text-end">
    <div>
      <a class="btn" href="{% url 'calendars:event_edit' event.id %}">수정하기</a>
      <a class="btn" href="{% url 'calendars:event_delete' event.id %}">삭제하기</a>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}