@charset "UTF-8";

/* 좌우 구분 */
.detail-container {
    display: flex;
    margin: auto;
    margin-top: 3rem;
    width: 60%;
}


/* 좌우 너비 설정 */
.left {
    margin: 0;
    padding: 0 1rem;
    width: 30%;
}

.right {
    margin: 0;
    padding: 0 1rem 0 2rem;
    width: 70%;
}


/* 왼쪽 프로필 전체 위치 조절 */
.personal-info {
    display: flex;
    flex-direction: column;
}


/* 이미지 수정 */
.profile-img img {
    border-radius: 20rem;
    display: flex;
    height: 6.25rem;
    margin: 1rem auto 2.5rem;
    object-fit: cover;
    width: 6.25rem;
}


/* 닉네임 버튼 위치 조절 */
.nickname-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}


/* 닉네임 글자 */
.nickname {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}


/* 수정 버튼 */
.edit-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #f6f3e7;
    border: 0.1rem solid #998b7a;
    border-radius: 20rem;
    display: block;
    max-width: 8.8rem;
    padding: 0.3em 2rem;
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.edit-button {
    box-shadow: rgba(11, 47, 125, 0.4) 0 0 0 0 inset;
    color: #998b7a;
    font-weight: 500;
}

.edit-button:hover {
    border: 0.1rem solid #0b2f7d;
    box-shadow: #0b2f7d 0 0px 0px 40px inset;
    color: #ffffff;
    font-weight: 500;
}


/* 팔로우/언팔로우 버튼 기본 설정 */
.f-buttons {
    border: 0;
    padding: 0;
}

.f-buttons button {
    background-color: #0b2f7d;
    border: 0.1rem solid #998b7a;
    border-radius: 20rem;
    color: #ffffff;
    font-weight: 500;
    padding: 0.3em 2rem;
}


/* 팔로우 버튼 */
.follow-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.follow-button {
    box-shadow: rgba(246, 243, 231, 0.4) 0 0 0 0 inset;
    color: #ffffff;
    font-weight: 500;
}

.follow-button:active {
    border-radius: 20rem;
    box-shadow: #f6f3e7 0 0px 0px 40px inset;
    color: #998b7a;
    font-weight: 500;
}


/* 팔로우 취소 버튼 */
.unfollow-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.unfollow-button {
    background-color: #f6f3e7 !important;
    border: 0.1rem solid #998b7a;
    border-radius: 20rem;
    box-shadow: rgba(11, 47, 125, 0.4) 0 0 0 0 inset;
    color: #998b7a !important;
    font-weight: 500;
    padding: 0.3em 2rem;
}

.unfollow-button:active {
    border-radius: 20rem;
    box-shadow: rgba(11, 47, 125, 0.9) 0 0px 0px 40px inset;
    color: #ffffff !important;
    font-weight: 500;
}


/* 팔로우 숫자 */
.follow-counts {
    color: #888888;
    display: flex;
    font-size: 0.95rem;
}

.follower {
    margin-right: 2rem;
}

.follow-count {
    color: #434343;
    font-weight: 700;
}


/* 한마디 공간 */
.bio {
    height: 4.5rem;
    margin-bottom: 1rem;
}


/* 이메일 아이콘 문자 정렬 */
.email-info {
    align-items: center;
    color: #666666;
    display: flex;
    margin-bottom: 0.5rem;
}


/* 이메일 아이콘 */
.email-info .bi {
    margin-right: 0.5rem;
}


/* 이메일 문자 */
.email-text {
    color: #434343;
    font-size: 0.9rem;
    margin: 0;
    text-decoration: none;
}


/* 등록된 값이 없을 경우 */
.empty-text {
    color: #bbbbbb;
    font-size: 0.9rem;
    margin: 0;
    text-decoration: none;
}


/* 깃허브 아이콘 문자 정렬 */
.github-info {
    align-items: center;
    display: flex;
}


/* 깃허브 아이콘 */
.github-info .bi {
    margin-right: 0.5rem;
}


/* 깃허브 문자 */
.github-info a {
    color: #434343;
    font-size: 0.9rem;
    margin: 0;
    text-decoration: none;
}

.github-info a:hover {
    color: #0b2f7d;
    font-weight: 700;
}


/* 카테고리 전체 조절 */
.tabs {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-top: 3rem;
    padding: 0;
    width: 28.5rem;
}


/* 카테고리 조절 */
ul.tabs li {
    background: none;
    cursor: pointer;
    display: inline-block;
    line-height: 2.5rem;
    padding: 0.3rem;
}


/* 카테고리 위에 올렸을 때 */
ul.tabs li:hover {
    background: none;
    color: #0b2f7d;
    cursor: pointer;
    display: inline-block;
    line-height: 2.5rem;
    padding: 0.3rem;
}


/* 현재 카테고리 */
ul.tabs li.current {
    color: #0b2f7d;
    font-weight: 700;
    line-height: 2.5rem;
}


/* 오른쪽에 뜨는 내용 */
.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}


/* 채팅 */


/* 드롭다운 메뉴(질문게시판/자유게시판) */
.dropdown {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.form-select {
    background-color: #f6f3e7;
    border: 0.1rem solid #998b7a;
    border-radius: 20rem;
    color: #998b7a;
    font-size: 0.9rem;
    padding-left: 1.4rem;
    width: 8rem;
}

.form-select:focus {
    border-color: #998b7a;
    box-shadow: 0 0 0 0;
    color: #998b7a;
    outline: 0;
}


/* 구분선 */
.hrs {
    margin: 1.5rem 0;
}


/* */
.contents-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/* 작성글 제목 */
.a-content-title {
    color: #434343;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}

.a-content-title:hover {
    color: #0b2f7d;
    font-weight: bold;
    text-decoration: none;
}


/* 작성글 말 줄임표 */
.a-content-title {
    display: block;
    overflow: hidden;
    margin-bottom: 0.6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 작성글 아래 작은 정보 */
.article-infos {
    display: flex;
}

.article-info {
    align-items: center;
    display: flex;
}

.article-info img {
    height: 0.7rem;
    margin-right: 0.3rem;
    opacity: 0.4;
    width: 0.7rem;
}

.views-icon {
    height: 0.9rem !important;
}

.article-info p {
    color: #bbbbbb;
    font-size: 0.85rem;
    margin: 0;
    margin-right: 0.7rem;
}


/* 작성한 댓글이 없을 경우 출력되는 문자 */
.no-comment {
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-top: 8rem;
    text-align: center;
}

.option-active {
    display: block;
}

.option-inactive {
    display: none;
}


/* 댓글 */
.comment-content a {
    color: #434343;
    text-decoration: none;
}

.comment-content a:hover {
    color: #434343;
    font-weight: bold;
    text-decoration: none;
}