@charset "UTF-8";

/* 폼 바깥 선 생성 */
.signup-container {
    background-color: #ffffff;
    border: 0.1rem solid #0b2f7d;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 10rem;
    padding: 4.5rem 4rem;
    width: 30rem;
}


/* 폼 크기 조절 */
.signup-form {
    display: flex;
    justify-content: center;
}

.signup-form form {
    width: 45rem;
}


/* 회원가입 글자 */
.title {
    color: #0b2f7d;
    font-family: 'Bree Serif', serif;
    font-weight: 800;
    font-size: 2.4rem;
    letter-spacing: 0.15rem;
    margin-bottom: 4rem;
    text-align: center;
}


/* 폼 사이 간격 조절 */
.mb-3 {
    margin-bottom: 2rem !important;
}


/* 폼 제목 글자 조절 */
.form-label {
    display: none;
}


/* 폼 조절 */
.form-control {
    padding-left: 2.1rem;
}

.form-control:focus {
    color: #434343;
    border-color: #0b2f7d;
    outline: 0;
    box-shadow: 0 0 0.15rem transparent;
}

.form-control::placeholder {
    color: #888888;
    font-size: 0.85rem;
}

.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100rem #ffffff inset;
    box-shadow: 0 0 0 100rem #ffffff inset;
}


/* 폼 아래 설명 조절 */
.form-text {
    display: none;
}


/* 경고 문구 */
.invalid-feedback {
    font-size: 0.78rem;
    line-height: 1rem;
}


/* 이미지 첨부 */
#id_image {
    color: #888888;
    font-size: 0.85rem;
    padding-left: 0.75rem;
}


/* 아이콘 */
#id_username {
    background-image: url(../images/person.svg);
    background-position: 0.66rem center;
    background-repeat: no-repeat;
}

#id_nickname {
    background-image: url(../images/text-left.svg);
    background-position: 0.66rem center;
    background-repeat: no-repeat;
}

#id_password1 {
    background-image: url(../images/lock.svg);
    background-position: 0.66rem center;
    background-repeat: no-repeat;
}

#id_password2 {
    background-image: url(../images/lock.svg);
    background-position: 0.66rem center;
    background-repeat: no-repeat;
}

#id_email {
    background-image: url(../images/envelope.svg);
    background-position: 0.66rem center;
    background-repeat: no-repeat;
}


/* 이미 회원이신가요? */
.go-login {
    display: flex;
    justify-content: center;
    margin: 0 auto 3rem;
}

.go-login a {
    color: #555555;
    font-size: 0.9rem;
    text-decoration: none;
}

.go-login a:hover {
    color: #333333;
    font-size: 0.9rem;
    text-decoration: none;
}


/* 회원가입 버튼 */
.signup-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #0b2f7d;
    border: 0.1rem solid #0b2f7d;
    border-radius: 20rem;
    display: block;
    margin: 2.4rem auto;
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    padding: 0.7rem 2rem;
    width: 21.8rem;
}

.signup-button {
    box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 0 inset;
    color: #ffffff;
    font-weight: 500;
}

.signup-button:hover {
    border: 0.1rem solid #0b2f7d;
    box-shadow: rgba(255, 255, 255, 0.94) 0 0px 0px 40px inset;
    color: #0b2f7d;
    font-weight: 500;
}