@charset "UTF-8";

.signup-container {
    border: 0.1rem solid #cccccc;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 3.5rem;
    width: 30rem;
}

/* 가입 폼 크기 조절 */
.signup-form {
    display: flex;
    justify-content: center;
}

.signup-form form {
    width: 45rem;
}


/* 회원가입 글자 */
.signup-title {
    color: #434343;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}


/* 폼 사이 간격 조절 */
.mb-3 {
    margin-bottom: 2rem !important;
}


/* 폼 제목 글자 조절 */
.form-label {
    color: #434343;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
}


/* 폼 조절 */
.form-control:focus {
    color: #434343;
    border-color: #f0dab1;
    outline: 0;
    box-shadow: 0 0 0.2rem #F0DAB1;
}

.form-control::placeholder {
    color: #888888;
    font-size: 0.85rem;
}


/* 폼 아래 설명 조절 */
.form-text {
    font-size: 0.78rem;
}

.form-text ul {
    padding-left: 1rem;
}

#id_image {
    color: #888888;
    font-size: 0.85rem;
}


/* 이미 회원이신가요? */
.go-login {
    display: flex;
    justify-content: center;
    margin: auto;
}

.go-login a {
    color: #cccccc;
    font-size: 0.9rem;
    text-decoration: none;
}

.go-login a:hover {
    color: #a1a1a1;
    font-size: 0.9rem;
    text-decoration: none;
}


/* 회원가입 버튼 */
.signup-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    background-color: #f6edcf;
    border: none;
    border-radius: 20rem;
    display: block;
    margin: 2.4rem auto;
    max-width: 8rem;
    text-decoration: none;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    padding: 0.7rem 2rem;
}

.signup-button {
    box-shadow: rgba(164, 215, 225, 0.4) 0 0 0 0 inset;
    color: #a57942;
    font-weight: 500;
}

.signup-button:hover {
    box-shadow: rgba(113, 173, 185, 0.7) 0 0px 0px 40px inset;
    color: #ffffff;
    font-weight: 500;
}